[2018-07-13 22:23] npalm opened #2 "Add ci to checks for valid code."
- lint
- validate
- check modules

[2018-07-13 22:37] #2 closed

[2018-07-27 09:32] Vad1mo opened #6 "update to Amazon Linux 2018.03"
would it make sense to update to Amazon Linux 2018.03. Should I give it a try and create a MR?

https://aws.amazon.com/de/amazon-linux-ami/2018.03-release-notes/

[2018-07-28 00:45] npalm commented on #6
Yes please give it a try!

[2018-07-28 17:36] npalm opened #7 "Creation of docker machines should be using instances profiles instead of an user"
Creation of instances / docker machines should be done by using an aws instance profile instead of an IAM user.

[2018-07-28 20:47] npalm opened #9 "Upgrade default gitlab runner to 11.1.0"

[2018-07-28 20:50] npalm opened #10 "Introduce a flexible way of tagging."
Make it possible to extend the default tags.

[2018-07-28 20:51] #7 closed

[2018-07-28 20:51] #9 closed

[2018-07-28 20:51] #10 closed

[2018-07-29 13:13] npalm opened #11 "gitlab runner instance not starting correctly, first time"
Sometimes the gitlab runner instance is not starting properly. After terminating the instance a new one will be created by the autolaunch group. This second one starts correctly.

[2018-07-30 21:40] #11 closed

[2018-07-31 04:36] npalm opened #14 "Warning in terraform registry needs to be resolved"
This is a submodule used internally by //. Using this submodule on its own is not recommended.

Submodules without a README or README.md are considered to be internal-only by the Terraform Module Registry. If this submodule should not be considered internal, add a readme which describes what this submodule is for and how it should be used.

For more information about the expected structure of modu

[2018-07-31 07:46] Ferparishuertas opened #15 "My runner is green but on execution it stucks on Running with gitlab-runner 10.8.0 (079aad9e) on iob-gitlab-runner 17ecdb74"
Can you help me? Is the spot price to low? No clue...

This is my config file
`concurrent = 10
check_interval = 0

[[runners]]
  name = "iob-gitlab-runner"
  url = "https://gitlab.com/"
  token = "XXXXX"
  executor = "docker+machine"
  limit = 0
  [runners.docker]
    tls_verify = false
    image = "docker:17.11.0-ce"
    privileged = true
    disable_cache = false
    volumes = ["/cache"]
    shm

[2018-07-31 21:14] npalm commented on #15
Hi,

I do not think your spot price instance is too low. Once a spot request is created and can't be fulfilled you see that in the tab spot-instances. It looks like you use an older version. Please can you use the master or the latest release tag 1.2.0. You should be able just to start the runner. It will be launched (in the example) in a private network. Once the runner is up you should see a ins

[2018-08-01 12:56] npalm commented on #15
Are you using the provided example?

[2018-08-01 14:55] Ferparishuertas commented on #15
This is the config. Same as example

#############
# Credentials
#############

provider "aws" {
  access_key = "${var.aws_access_key}"
  secret_key = "${var.aws_secret_key}"
  region     = "${var.region}"
}

data "terraform_remote_state" "iob-dbaas-tf-state" {
  backend = "s3"

  config {
    bucket     = "iobuilders-terraform-state"
    key        = "env://${var.workspace}/XXXX-YYY/terraform.tfs

[2018-08-01 17:50] npalm commented on #15
Looks like I find the problem. My account as a Role: "AWSServiceRoleForEC2Spot" Which is created by Amazon. I guess it was created the first time I created the runners with unlimitted ec2 access. Last week or so I made the access much more restrictive. So looks like this is the problem. The role has this policy:  AWSEC2SpotServiceRolePolicy

[2018-08-01 20:36] npalm commented on #15
I have a fix, on branch 15-service-linked-role-cannot-created. Please can you verify the fix? You can load the fix as follow:

[code]
Thank you for reporting the bug

[2018-08-02 20:01] npalm commented on #15
Alternatively you can create the following service linked roles:
[code]

[2018-08-08 22:06] #14 closed

[2018-08-08 22:07] npalm commented on #15
Issue is resolved in release 1.3.0

[2018-08-08 22:07] #15 closed

[2018-08-09 19:49] npalm commented on #6
Issue is resolved will be available in the next release

[2018-08-09 19:49] #6 closed

[2018-08-24 10:49] Ferparishuertas commented on #15
I tried 1.5.0, spot instances are being created but no job running

Seems docker not installes on spot intances

75 gitlab-runner[8742]: time="2018-08-24T10:41:33Z" level=info msg="Error getting SSH command to check if the daemon is up: ssh command error:" driver=amazonec2 name=runner-17ecdb74-runner-1535106043-bd5f07e0 ope
ration=create
Aug 24 10:41:33 ip-10-0-1-75 gitlab-runner[8742]: time="2018

[2018-08-24 10:51] Ferparishuertas opened #18 "Runner green but jobs not executed"
I continue without being able to exeute runners. Docker  machine create spot instancesa but nos job is running

75 gitlab-runner[8742]: time="2018-08-24T10:41:33Z" level=info msg="Error getting SSH command to check if the daemon is up: ssh command error:" driver=amazonec2 name=runner-17ecdb74-runner-1535106043-bd5f07e0 ope
ration=create
Aug 24 10:41:33 ip-10-0-1-75 gitlab-runner[8742]: time="2018-

[2018-08-24 10:59] Ferparishuertas commented on #18
Seems to me docker is not installed on ami. Specifying --amazonec2-ami can be the solution

[2018-08-24 15:36] npalm commented on #18
I will try to have a look on your issue. Please can you share your configuration? Terraform setup as well?

[2018-08-26 09:55] npalm commented on #18
Hi, I have not a real clue why yours is failing to create spot instances with docker machine. Just run a test on a clean AWS account, all works fine.

The gitlab runner instance uses ami `amzn-ami-hvm-2017.09.1.20180115-x86_64-gp2 (ami-d834aba1)
` But this looks not the problem.

The spot request which is created after a build is triggers uses ami: `ami-0b541372` which is the default for eu-west-1

[2018-08-27 10:31] Ferparishuertas commented on #18
The spot is created and the ami is ami-0b541372

El El dom, 26 ago 2018 a las 11:55, Niek Palm <notifications@github.com>
escribió:

[2018-08-27 21:33] npalm commented on #18
Could you try to run one of the two provided examples?

[2018-08-28 07:09] Ferparishuertas commented on #18
ami use with your example ami-0b541372

Running with gitlab-runner 11.1.0 (081978aa)
  on docker.m3 17ecdb74
ERROR: Preparation failed: Can't connect
Will be retried in 3s ...
ERROR: Preparation failed: Can't connect
Will be retried in 3s ...
ERROR: Preparation failed: Can't connect
Will be retried in 3s ...
ERROR: Job failed (system failure): Can't connect

[2018-08-28 07:46] Ferparishuertas commented on #18
Public executes with same ami, docker machine errors

ug 28 07:38:30 ip-10-1-101-205 gitlab-runner[8726]: time="2018-08-28T07:38:30Z" level=warning msg="Machine creation failed, trying to provision" error="exec: \"docker-machine\": executable file not found in $PATH" name=runner-17ecdb74-runner-1535441910-6a240732
Aug 28 07:38:30 ip-10-1-101-205 gitlab-runner[8726]: time="2018-08-28T07:38:30Z" lev

[2018-08-28 21:28] npalm commented on #18
That is really annoying. I really have now clue what the issue can be. Looks like something could be wrong with a key or so. I know another group used last week the runner in the US and all works normally.

I am also not able to reproduce the issue. Tried it in tow zones, in an empty account. So no AWS roles. All works fine. At the moment I was setting up this config a year ago or so, I started wi

[2018-08-29 14:02] mateimicu commented on #18
I also have this problem ...

[2018-08-30 15:49] Ferparishuertas commented on #18
On us-west-1 it works. It seems ami related isnt it?

[2018-08-30 21:09] npalm commented on #18
I checked a few more scenarios, tested eu-west-1 and us-east-1 with private / public subnet setup. All works fine. The error in the log could be caused maybe by problems in the security groups or keys.

The setup creates 2 security groups 1 for the docker port and a second one for the ssh port. Could you check if the spot instances getting the right security group. Another potential problem could

[2018-09-08 11:06] av-ast opened #19 "Couldn't change runners' instance type"
Hi,

I have the following issue.

In my terraform configuration for GitLab runners I specify instance type equals to "t2.medium".
After `terraform apply` I can see the new Launch Configuration and its Instance Type param is also set to "t2.medium".
http://take.ms/bZer0
But when I launch a new pipeline in GitLab I see that a new spot instance for runner is created and its type is "t2.small" instead

[2018-09-12 10:20] npalm commented on #19
You have to to taint the auto launch configuration, or destroy the ec2 runner instance.

[2018-09-12 11:43] av-ast commented on #19
Yeah, it works now.
Thank you @npalm

[2018-09-12 11:43] #19 closed

[2018-11-29 05:13] Ferparishuertas commented on #18
All was fixed finally, in us-west-1.

[2018-11-29 05:13] #18 closed

[2018-11-29 05:15] Ferparishuertas opened #22 "Be able to add output_limit as a input to be able to ser log size?"
We want in some cases to debug l pipelines and log is key. Can you add this variable to the runners config input?

[2018-11-29 05:29] Ferparishuertas commented on #22
If possible please add also request_concurrency

[2018-12-04 16:29] npalm commented on #22
@Ferparishuertas can you make a proposal in a pull request?

[2018-12-04 16:31] npalm commented on #18
@Ferparishuertas thanks for the update, in case you had to make any change feel free to create a Pull Request.

[2019-02-08 11:33] erback opened #31 "Missing documentation makes setup fail"
Just spent the better part of a day trying to setup the runner via this module without success. After some digging around I realized that there are some settings that are necessary but not provided in the documentation (but exist in the  example folder):
[code]
If runners_off_peak_periods value is not set the setup script will fail due to empty variable. This either need to be a required variable

[2019-02-11 13:17] msvechla commented on #31
Correct, I also noticed this a couple of weeks ago, but forgot to create an issue.

[2019-02-26 14:49] npalm commented on #31
Thanks, will update the docs

[2019-02-27 19:31] npalm opened #33 "Shared cache is not working"
The runners are using a local cache. Shared cache is not used.

[2019-02-28 17:58] npalm commented on #31
Mode the variable optional

[2019-02-28 18:01] #33 closed

[2019-02-28 18:02] #31 closed

[2019-03-01 11:10] declension opened #35 "Add ability to specify availability zone"
Hi. First of all, thanks for a great module (and blog post). Cool stuff.

### Background
I've been setting it up here for a self-hosted, locked down Gitlab server. After getting the (organisation) region, VPC and subnet fixed for $WORK (but using `data` at least), the runner is green.

### Problem
However it is failing with
[code]
Clearly I guess the subnet we've been given is in `us-east-2c` AZ b

[2019-03-01 11:54] declension commented on #35
Update: `docker_machine_options` works :slightly_smiling_face: -  though not how [the comment says](https://github.com/npalm/terraform-aws-gitlab-runner/blob/develop/variables.tf#L237):
[code]
That makes the fail to start, with CLI errors about `----amazonec2-zone` not being understood.
Removing the leading `--` fixes everything.

I'll make a separate PR for that perhaps?

[2019-03-02 07:44] npalm commented on #35
Thanks for creating the issue. Feel free to create a PR for your proposal.

[2019-03-08 21:26] #35 closed

[2019-03-18 12:07] declension opened #39 "Add ability to specify runner tags"
### Background
Currently, the tags for _runners_ (not the bastion) are hard-coded to:
[code]
(see [current runner-config.tpl](https://github.com/npalm/terraform-aws-gitlab-runner/blob/6cde4994e4cbeb979da8f9853bc7a3372538bd7f/template/runner-config.tpl#L45))

### Proposal

- It'd be good if users could specify their own / extra tags for runners.
- Perhaps the current `environment` could  just be a

[2019-03-19 10:22] npalm commented on #39
@declension Yes good idea. Currently it is possible to pass a of tags, in the file `tags.tf` they are merged together with `environment`. Problem is only that docker machine expects a flat comma separated string. Do you know how convert the map back to the String. Would be great to have it backwards compatible.

[2019-03-19 10:43] npalm commented on #39
Answer to myself ;) ```"${replace(jsonencode(local.tags), "/[\\{\\}\"\\s]/", "")}"```

[2019-03-19 11:17] #39 closed

[2019-03-19 11:51] declension commented on #39
Wow - speedy! Thanks @npalm I look forward to trying this out

[2019-03-25 13:39] msvechla opened #41 "amazonec2-iam-instance-profile missing"
Hello,

it looks like since version 2.1.0 the option `amazonec2-iam-instance-profile` is missing.
Looks like this was removed by accident when resolving merge conflicts.

The diff is here:
https://github.com/npalm/terraform-aws-gitlab-runner/compare/2.0.0...2.1.0#diff-037af380e1e9a26cfbcaa481f820aacbL42

Could you add the missing option again?

[2019-03-25 14:07] msvechla commented on #41
created PR: https://github.com/npalm/terraform-aws-gitlab-runner/pull/42/

[2019-03-25 21:51] npalm commented on #41
@msvechla thanks for the notice and PR, but the PR wasn't working. A instance profile for the docker machine spot instances was missing. I have added a basic profile.

I was also expecting this profile can be used to access the s3 cache by the runner. But it seems that this have to be in the profile of the instance.

I have added my changes to your PR, is now in a branch on this repo. Please can y

[2019-03-26 15:32] msvechla commented on #41
thanks, looks fine but we should output the `${aws_iam_role.docker_machine.name}`, so it can be customized / extended. Otherwise it looks fine.

[2019-03-26 16:57] npalm commented on #41
Yepz, of course :) Will added later this week.

[2019-03-27 22:29] #41 closed

[2019-03-29 12:54] npalm opened #43 "CloudWatch logging not working"
Logs are not popping up in cloudwatch. Looks like last changes in policies broke the logging.

[2019-03-29 13:02] MekonenA commented on #43
Good

[2019-03-29 13:02] MekonenA commented on #43
It seems like a good idea but I don't know

[2019-03-29 13:06] #43 closed

[2019-03-29 13:07] npalm commented on #43
Logging is working correctly, logs apears in cloud watch. So closed my own issue

[2019-03-29 13:11] npalm opened #44 "Auto register runners"
Currently it is required to register the runner before running the terraform scripts. In branch https://github.com/npalm/terraform-aws-gitlab-runner/tree/feature/auto-register-runner I am preparing scripts so that the runner can register itself based on the registration token. Runner tokens will be kept in the parameter store.

[2019-03-29 17:08] npalm commented on #44
The variable `runners_token` will become obsolete and replace it by a runner configuration which will be used to register the runner.

Define in the module the runner configuration as follow:
[code]
And DO NOT specify the `runners_token`.  The runner will then be created if there is not one registered before. Registered runners will be stored in the AWS parameter store.

For migration to the new s

[2019-03-29 17:13] #44 closed

[2019-04-01 16:07] npalm opened #47 "Disable SSH access for runner instance"
Add an option to disable SSH (ingress) connection to the runner instance. The default could be disable access.

[2019-04-01 16:09] npalm opened #48 "Limit accepting CIDR range runner instance"
Limit the access to the runner instance by CIDR.

[2019-04-01 16:11] npalm opened #49 "user-data can log sensitive data"
user-data should not write sensitive information to stdout / logging. Currently the GitLab runner  token is visible

[2019-04-03 07:22] arrpee opened #51 "Default AMI for runner in ap-south-1 does not have jq installed"
### System log:
[code]

[2019-04-03 07:23] arrpee commented on #51
Probably should add **yum install jq -y** to gitlab-runner.tpl ?

[2019-04-03 09:48] npalm commented on #51
Sound as a good plan, feel free to create a PR.

[2019-04-03 14:26] npalm commented on #51
@arrpee I just tested the runner in ap-south-1, seems like working, jq is installed. Which AMI do you used, the one selected by terraform module? I have got ami `amzn-ami-hvm-2018.03.0.20181129-x86_64-ebs (ami-00a5aa934dc5052b4)` which has jq.

[2019-04-04 05:31] arrpee commented on #51
So after a fresh clone, I can't seem to replicate it anymore. The module does select `amzn-ami-hvm-2018.03.0.20181129-x86_64-ebs` which functions properly. I'll investigate a bit and get back to you

[2019-04-05 07:20] arrpee commented on #51
Okay I just can't seem to replicate it anymore so I'm closing the issue.

[2019-04-05 07:20] #51 closed

[2019-04-13 01:07] #47 closed

[2019-04-17 16:03] allanlegalstart opened #57 "m4.large does not exists in some regions"
I think it has now been replaced by m5.large, shouldn't it be the new default ?

[2019-04-17 16:44] allanlegalstart opened #58 "name of the instance in the ASG should be different than just "var.environment""
currently we have no way to put a name different than the environment, and it's a bit confusing to have a instance named "dev"
that's especially true if one wants to have several ASG , like one with GPU instances , tagged with "has-gpu" (to run some specific task)  and one named "low-cpu-instances"   , both in the same environment

[2019-04-17 17:04] npalm commented on #57
Feel free to create a PR, the default was just choose to something that works for me. Currently we running on c4 or c5 large.

[2019-04-17 17:08] npalm commented on #58
@allanlegalstart I agree, feel free to make a PR. It would be great if you can make the change in such way that it remains backwards compatible. I expect also a few changes on the name of the instance, and security groups. Just to override the defaults. Maybe that can inspire you as well. I hope those changes will be back in a week or so.

[2019-04-17 17:17] allanlegalstart commented on #58
@npalm  I can give it a shot,  something in the line of "if new_variable_for_name not defined then fallback to var.environment" ?

[2019-04-18 21:07] #57 closed

[2019-04-26 12:15] npalm opened #61 "Terraform applies always detect changes"
This is caused by the conditionals used in the security group to enable ssh for the runner instance

[2019-04-26 12:19] #61 closed

[2019-05-07 20:59] npalm commented on #58
@allanlegalstart sorry for the late response. We have added a map to override default values (see variables.tf file). Does it fit for you to add your overrides to this map? Otherwise feel free to give it a shot :)

[2019-05-13 12:56] allanlegalstart commented on #58
I will try it and tell you, but so far looks good

[2019-05-14 04:40] demisx opened #63 "Broken Examples link"
The example link throughout documentation returns 404. https://registry.terraform.io/modules/npalm/gitlab-runner/aws/3.2.0

[2019-05-14 08:29] allanlegalstart commented on #58
hmmm simply adding

[code]

didn't work, we needed to do this :
[code]

not sure if expected or not

[2019-05-14 15:44] npalm commented on #58
@allanlegalstart yep you have to explicit define those overrides via the map.  Since those override are really for specific situations. Could this work for you? Feel free to create a proposal for the option you need.

[2019-05-14 16:57] allanlegalstart commented on #58
wait sorry I didn't see that actually I was not using `name_runners_docker_machine`  in the overrides but something else.
now that i see that, my question is more : why using `name_runners_docker_machine`  didn't work ?

[2019-05-14 18:16] npalm commented on #63
@demisx thanks for creating an issue. But for me it is not clear to which link you refer. Is a link on the terraform registry not working? Or a link in the README?

[2019-05-14 18:18] npalm commented on #58
Ok, I have to check it.

[2019-05-14 18:43] demisx commented on #63
NP. The example links on https://registry.terraform.io/modules/npalm/gitlab-runner/aws/3.2.0 seem to be broken. I am attaching a couple of screenshots to illustrate:

![Screen Shot 2019-05-14 at 11 41 30 AM](https://user-images.githubusercontent.com/4452412/57723446-79cbe900-763d-11e9-94c2-3a01f6473480.gif)

![Screen Shot 2019-05-14 at 11 40 05 AM](https://user-images.githubusercontent.com/4452412

[2019-05-14 21:44] npalm commented on #63
@demisx thanks

[2019-05-15 20:53] npalm commented on #63
@demisx the links are relative links in github and therefore not working in the Terraform registry. WIll fix them in the next release.

[2019-05-16 12:15] philippefuentes opened #64 "can't enable ssh access to the runner instance"
Hi @npalm and thank you for this great module, just starting with gitlab CI.

I wanted to enable ssh in the runner instance by using the variable:

[code]
after running the plan the first time with the default value at "false"

It does create a new sg with port 22 (aws_security_group.runner-ssh) but the launch configuration still refers to the first created sg (aws_security_group.runner)

what am

[2019-05-20 06:26] npalm commented on #64
@philippefuentes thanks for reporting the issue, will check it this week

[2019-05-20 08:25] philippefuentes commented on #64
@npalm I also noticed that the `runner_ssh` security group does not have any `egress` attached.

So in the end what I did is getting rid of the additional `runner_ssh` sg and simply attached the `runner_ssh` sg rule to the existing `runner` sg  (it's already got an `egress` configured) according to the value of `enable_gitlab_runner_ssh_access`:

[code]

So basically, you'll notice that in the upd

[2019-05-20 11:13] npalm commented on #64
Yep thanks, the security group `runner_ssh` is not used at all. Busy with a fix

[2019-05-20 11:36] #64 closed

[2019-05-21 12:11] hendrixroa opened #67 "Support for count property"
Currently, I need to provision a gitlab-runner only for a stage, would be great if the module support count property to provisioning if the stage is "some"

[2019-05-23 15:52] philippefuentes opened #68 "plan fails when variable enable_manage_gitlab_token is false"
Hi,
I'm not sure if it makes sens for the variable `enable_manage_gitlab_token` to be `false`, but anyway it makes the plan fails if it is.

[code]

[2019-05-24 06:46] philippefuentes opened #70 "docker-machine fails starting runners when amazonec2-request-spot-instance=false"
I need to launch a1 machine type for the runners.
spot instances don't exist in my region for this type of ec2 machines.
In the context of `amazonec2-request-spot-instance=false`, when starting my gitlab ci pipeline, I can see in the runner logs:

[code]

[2019-05-25 21:12] #70 closed

[2019-05-25 21:13] #68 closed

[2019-05-25 21:24] npalm commented on #67
Hi @hendrixroa

Thanks for submitting an issue. Please can you elaborate a little bit more on the issue you have. The problem is not clear for me.

[2019-05-25 21:32] npalm commented on #63
https://github.com/hashicorp/terraform/issues/21452

[2019-05-26 16:23] hendrixroa commented on #67
Hi @npalm
I mean, attribute count for aws resources like:

[code]

[2019-05-28 13:25] eliasdorneles opened #72 "Detect and retry when docker machine installation fails"
I started seeing this error in the Gitlab CI jobs, after updating the gitlab runner instance:

[code]

After some troubleshooting, I found out that the `docker-machine` binary was an HTML file:

[code]

Checking the contents of the file, I found a Github error page, which contained messages like this (content cleaned up for succintness):

[code]

It's a bit unexpected because judging from the code

[2019-05-28 16:27] npalm commented on #72
@eliasdorneles thanks for reporting the issue. First idea that I have is to do a md5sum check, md5sums are available at the github release page https://github.com/docker/machine/releases

Do you have another idea?

[2019-05-28 16:39] eliasdorneles commented on #72
Good idea, downloading the md5sum from `https://github.com/docker/machine/releases/download/v${docker_machine_version}/md5sum.txt` and then checking the file against it sounds great! :+1:
Of course then md5 file download can fail, but we'd have a stronger guarantee.

Another idea (just whispered to me by @allan-simon) could be adding a `docker_machine_url` to allow users to host their docker machi

[2019-05-28 23:51] hendrixroa opened #73 "Convert module to support terraform 0.12"
Terraform has launched the version 0.12, are you @npalm  planning move to terraform 0.12 ?
I can do a pull request with the changes if you want.

[2019-05-28 23:51] hendrixroa commented on #67
I can do a pull request if you want @npalm

[2019-05-29 05:00] npalm commented on #73
@hendrixroa yes of course but did not had the time yet. Feel free to create a PR with changes

[2019-05-29 05:03] npalm commented on #72
@eliasdorneles @allan-simon sounds good. In case the md5sum is invalid, a md5sum check will fail ass well. Another idea could be add the the `-f` option to `curl` to let it fail.

[2019-05-29 05:05] npalm commented on #67
@hendrixroa feel free to create a PR

Do you have any thoughts about another implication? Like all runner instance uses the same cache. Which could be fine.

[2019-05-29 08:54] eliasdorneles commented on #72
Oh yeah, that sounds like the minimal code which will reach most of the benefit, since it will show up in the logs and make the problem quicker to find. :+1:
We can also enable retries -- I'll send a quick PR.

[2019-05-29 15:41] #72 closed

[2019-05-31 07:50] int128 opened #75 "Runner cannot reach Internet in public subnet"
I am trying to use this module in the public subnet. It seems the runner EC2 instance cannot reach the Internet because it does not have a public IP address due to the following config:

https://github.com/npalm/terraform-aws-gitlab-runner/blob/2f45f1d73ba0cffd310a859cf30f08e88b8a1b03/main.tf#L218

I changed the above to `true` and finally the runner has been registered successfully. Is this expec

[2019-05-31 08:08] int128 commented on #75
I think it may be nice to respect `runners_use_private_address` as follows:

[code]

[2019-05-31 12:04] npalm commented on #75
@int128 thanks for reporting the issue. Personally I use the runner only in a VPC with private / public setup. So never face the issue. The sample in the example dir (https://github.com/npalm/terraform-aws-gitlab-runner/blob/develop/examples/runner-public/main.tf#L24) is configures so it uses public IP address: `runners_use_private_address = false`

If I remember correctly this will assign also pu

[2019-05-31 12:34] int128 commented on #75
Yes, that will assign a public IP address to the docker-machines, but it will not do to the runner.
I will open a pull request for this later.

[2019-06-03 01:03] int128 commented on #75
It turned out that the runner-public example works well because the module `terraform-aws-modules/vpc/aws` assigns a public IP by default.

https://github.com/terraform-aws-modules/terraform-aws-vpc/blob/158b7d79ece06815cea20e64aa5bd15a5b197efe/variables.tf#L649-L653.

I think it should assign a public IP regardless of the subnet config when `runners_use_private_address
 = false`.

[2019-06-03 09:42] declension opened #76 "Allow spot requests in multiple availability zones"
### Background
At $WORK, we have a pre-defined VPC, and one subnet within that (but want more to avoid any further capacity issues) for Gitlab & runners.

Having multiple AZs is entirely possible, as the spot request wizard has checkboxes for each:

![image](https://user-images.githubusercontent.com/3322808/58792375-f6723780-85eb-11e9-8994-deee96fd624a.png)

### Proposal
 * Multiple availability z

[2019-06-03 10:19] declension commented on #76
Hmm, https://github.com/docker/machine/pull/4701 looks quite relevant / concerning...

[2019-06-03 10:48] declension opened #77 "Allow multiple runner instance types"
### Background
When adding only one instance type for a spot request (in the wizard), it becomes clear this is affecting the availability (which brings down our gitlab runners sometimes with `capacity-not-available`)
![image](https://user-images.githubusercontent.com/3322808/58792708-9d56d380-85ec-11e9-8d13-dc09b54801c7.png)
See related #76

### Proposal
 * Deprecate `instance_type` in favour of `

[2019-06-03 17:07] npalm commented on #75
@int128 Yes I agree.

I suggest we update the public example with the `map_public_ip_on_launch` set to `false` and implement on the runner your suggestion. Let me know if you would like to create a PR?

[2019-06-03 18:19] mbluemer opened #78 "Receiving 403 forbidden for shared cache"
Using mostly the default setup with v3.3.0 and the jobs keep getting a `403 forbidden` when trying to access the shared s3 cache. I checked the `docker-machine-role` assuming it would give each runner permission to access the cache but it looks like there are no permissions attached to that role by default. I tested out explicitly adding a `s3:*` permissions to that role just to see if that would

[2019-06-03 21:45] npalm commented on #78
@mbluemer by default I am testing the runner with the default setup in example. Next I run a build with two steps. First step write to cache, second step read from cache. This works fine. Can you give it a try with the default setup, see the examples?

[2019-06-04 02:43] int128 commented on #75
This issue occurs only if we create a subnet manually and does not occur with the module `terraform-aws-modules/vpc/aws`. So we don't need to change the public example.

Would you take a look at the PR?

[2019-06-04 05:04] npalm commented on #78
@mbluemer see here the latest run of my test build https://gitlab.com/codethebuild/gitlab-cache/pipelines/63157591

[2019-06-04 13:02] mbluemer commented on #78
Trying narrowing settings down so that I was closer to the default but still getting 403s. I'm using a private GitLab instance though that shouldn't affect things in any significant way. Here's the configuration I'm using:

[code]

[2019-06-04 13:06] mbluemer commented on #78
I'm realizing this makes sense as the default expected behavior is to be using publicly accessible buckets so no authentication shouldn't be necessary. For a private organization having those caches exposed isn't an option. We also need to make modifications to the security groups so that the runner and instances are only accessible from within our VPC so I'll probably fork anyway and make the nec

[2019-06-04 13:21] mbluemer commented on #78
Sorry further clarification after reading into the repo, we need the ability to specify  a `source_security_group_id` for the port 22 ingress policies.

Also noticing that `private: true` is the default on the bucket. Also there's a `docker_machine_cache_policy` that should give the runners access to the cache? Need to dig a little deeper into this...

[2019-06-04 18:32] npalm commented on #78
Yes the bucket created by the module should be private, the policy to access the bucket is set to the runner agent instance. And NOT to the docker machine. It is strange, but working in this case.  It is also not clear to me why the gitlab runner cache is handles by the agent and not by the de runner (docker-machine itself).

The example you find in the examples dir named default is running in pri

[2019-06-04 18:33] npalm commented on #75
Thanks will do in the next days

[2019-06-04 18:36] npalm commented on #77
Thanks, already cracking my thoughts on this topic. Please let me know if you have any other idea.

Options could be running multiple runners with different configs, but problem will be that unhealty runners will have stucked build. So maybe an agent as watcher or lambda to take the out of the healthy runner agent pools

[2019-06-04 19:25] mbluemer commented on #78
Yeah after reading deeper into the Gitlab Runner documentation I realized they specify that the IAM role should be on the runner so things are right there. Not sure why I'm still getting 403 forbidden but I don't have the time to investigate that further now so I've just implemented a workaround to use an AWS access key.

I did implement a [toggle on bucket versioning](https://github.com/mbluemer/

[2019-06-04 19:25] #78 closed

[2019-06-04 19:38] #75 closed

[2019-06-04 22:18] npalm commented on #78
@mbluemer thanks for the feedback.

The runner in the default example should run in a private subnet, and even ssh access can be siabled. This isstance as well the docker machine instances are only reachable withing the vpc (via a bastion).

By configuring the private subnets for the runner and the docker machines you instances should not be reachable from outside the VPC.

I would be great if you

[2019-06-05 13:32] daanielcarvalho opened #80 "Volume size"
Hi

How can i change a volume size of the instance created? there is no option!

Thanks in advance
Daniel

[2019-06-05 20:06] npalm commented on #80
@daanielcarvalho you can set the variable `runners_root_size`. It is used for setting the size of the disk of the docker-machine instances.

[2019-06-06 08:15] daanielcarvalho commented on #80
Hi

I use runners_root_size = "30" and I still get 8gb machine running.
![Screenshot 2019-06-06 at 09 14 15](https://user-images.githubusercontent.com/6240971/59017539-a689af80-883b-11e9-8d49-d87ba2202faa.png)

Thanks in advance
Daniel

[2019-06-06 09:34] npalm commented on #80
Hi Daniel @daanielcarvalho

Is this the instance that is used for the agent? Or is this an instance used for hosting the runners. Typically a spot instances managed via docker-machine? In case this spot instance disk is not changed, please can you check if the root size is set in the user_data script in the launch coniguration.

If you would like to change the size of the disk of the instance host

[2019-06-06 11:52] npalm commented on #73
Just did a small experiment, due to the usages of count and the filter for selecting an IAM it looks like not possible to move to TF 0.12 without breaking backwards compatibility to 0.11.

[2019-06-06 11:54] npalm opened #81 "Creating tests to verify deployment"
Create a test set for example with Terraform Kitchen sink / terratest to verify a deployment

[2019-06-12 16:50] daanielcarvalho commented on #80
Hello

this is for the instances that will run the docker image with runner specifications!

Thanks
Daniel

[2019-06-13 19:06] bishtawi commented on #73
If you look at some other popular Terraform modules (namely [AWS VPC](https://github.com/terraform-aws-modules/terraform-aws-vpc) and [AWS RDS](https://github.com/terraform-aws-modules/terraform-aws-rds)), they maintain two versions of their modules. V1 of their modules map to 0.11 of Terraform, and V2 maps to 0.12.

[2019-06-13 19:30] npalm commented on #73
@bishtawi thanks for the note. I am actually have that in mind. Do you als know a tool to generate docs from the variables that supports TF 0.12. I am using terraform-docs which is still broken for 0.12.

[2019-06-15 13:42] npalm commented on #73
Started with the conversion

[2019-06-15 15:04] npalm commented on #73
All sources are converted including samples.

[2019-06-17 14:38] solutionDrive-Alt opened #85 "Misleading Variable-Description"
Hello,
Thanks for this awesome Module.

While trying it out I ran into a problem. The description of the variable `enable_manage_gitlab_token` is kind of misleading.

[code]

The first sentence of the description states, that this will enable the management via `SSM`. But the following sentences are implying the opposite.

As I want to manage it in `terraform` I thought the default-value would be

[2019-06-17 20:52] npalm commented on #85
@solutionDrive-Alt thanks for the remark. Feel free to create a PR. Otherwise I will do my best to update the docs in the next weeks

[2019-06-18 07:37] solutionDrive-Alt commented on #85
@npalm I just created the PR #86 for that.

[2019-06-18 21:05] npalm commented on #73
Tested state mirgration for the public example. For some reason it needs to replache the launch config based on the user_data script. But besides that all works fine

[2019-06-19 13:09] npalm commented on #85
Fixed

[2019-06-19 13:09] #85 closed

[2019-06-30 19:41] devality opened #87 "Getting a error when runner_registration_token contains an underscore."
When the `aws_ssm_parameter.runner_registration_token` contains an underscore I'm getting the error:
`Error creating machine: Invalid hostname specified. Allowed hostname chars are: 0-9a-zA-Z . -`.
I solved it by recreating a runner to get a token without underscore. But maybe it makes sense to substitute underscore with a dash?

[2019-07-02 17:59] npalm commented on #87
Good catch, feel free to propose a change via a PR

[2019-07-02 21:20] hendrixroa commented on #73
Sounds great. Looks like that they will launch a new fix version, we should wait by them.

[2019-07-02 21:22] hendrixroa commented on #73
Sorry by the late response

[2019-07-02 21:27] hendrixroa commented on #67
Yep, you are right, feel free to close this

[2019-07-03 04:35] #67 closed

[2019-07-03 11:47] solutionDrive-Alt opened #91 "2 instances of this module can not share the same cache-bucket"
Hi,

when I use your module twice, so I can use different sizes of instances for different jobs, I see no possibility to use the same bucket as `cache`.

The reason for this, is the fact that the module will always try to create a bucket, but if this bucket already exists, terraform will fail.

Maybe it makes sense to remove the `cache`-bucket from this module and better inject a cache_bucket-name

[2019-07-04 05:13] npalm commented on #91
Thanks for creating the issue. Yep I am aware of the limitation. It also crossed my mind. I had the thought not to remove the bucket but made a more a submodule. Which you have to instantiate specific. The output of this submodule can then be based to the runner module it self.

Maybe in such way that by default the bucket is created and it is the the user to to disable the creation and control th

[2019-07-05 12:24] roock opened #92 "Add support for session_server"
It would be cool if we could support session_server in the gitlab runner config for interactive webterminals

https://docs.gitlab.com/ee/ci/interactive_web_terminal/index.html
https://docs.gitlab.com/runner/configuration/advanced-configuration.html#the-session_server-section

[2019-07-08 17:06] npalm commented on #92
@roock cool idea, any idea thoughts for an implementation?

[2019-07-09 09:46] waeltken commented on #73
Could we release a RC version in the meantime?

[2019-07-09 18:13] npalm commented on #73
Create a project with the current left overs
- sync last modification to 0.11 code base
- get doc generation working

[2019-07-09 18:19] npalm commented on #73
https://github.com/npalm/terraform-aws-gitlab-runner/releases/tag/4.0.0_M1

[2019-07-09 21:22] npalm commented on #73
Just created 4.0.0_M2

[2019-07-10 17:33] npalm commented on #73
@waeltken in case you are trying the RC version, please could you give some feedback?

[2019-07-11 20:50] npalm commented on #91
@solutionDrive-Alt I have a first "early" setup working for 2 nodes, one cache. Feel free to have a look. The public example contains a sample setup. I will update the sample later so the cache will be create separated (outside) the runner. And policy and bucket details will be injected.

[2019-07-12 07:37] solutionDrive-Alt commented on #91
@npalm I checked it out and this looks very promising. I will have a closer look in the next days and will try it with my setup.
Thanks for working on this already!

[2019-07-12 12:07] npalm commented on #91
@solutionDrive-Alt thanks for the quick answer, it as already on my list for some time.

[2019-07-16 20:34] #91 closed

[2019-07-22 03:25] kevinrambaud commented on #73
Looks like the terraform-0.12 branch is 26 commits behind develop. What's your strategy to include the recent changes on this branch? I'm up to start using the 0.12 branch but I need at least the 2 changes I made you merged.

[2019-07-22 04:36] npalm commented on #73
@kevinrambaud the TF 0.12 branch should be in sync with develop. i merged the all manually. You can see in the commits on the tF0.12 branch the merged PR's and issues. The change to HCL2 make merges quite hard, so did all quickly manually.

Please let me know if you miss anything?

[2019-07-22 13:01] kevinrambaud commented on #73
Oh right, I didn't check the commits themselves. Looks good to me. There is one last customization I would need to rely fully on this module, the customization of the `volumes` list in the runner.tpl. I played a little bit with it to implement it but it's not as smooth as I thought it would be. As template_file does not support anything else than primitive values, list and map cannot be used. `jso

[2019-07-22 20:29] npalm commented on #73
@kevinrambaud thanks for the note. I have synced the branch with develop. I hope to switch by default in a the coming weeks to terraform 0.12. Still looking for some feedback. Also need to fix some types.

I sent you a short message on gitter as well.

[2019-07-22 20:45] kevinrambaud commented on #73
Awesome, I'm gonna check your message, thanks.

[2019-07-24 07:27] fpalluel opened #104 "Make `tmpfs` runner configuration accessible"
Hello,

First, thank you for this module, it makes setting up a CI infrastructure a breeze ;-)

We are currently facing performances issues during docker push/pull operations due to IOPS limitations on EBS storage (see [AWS documentation](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSVolumeTypes.html))
We successfully tried to mount `/var/lib/docker` to `tmpfs`, using the [runner's tmpfs

[2019-07-24 19:00] roock commented on #92
some thoughts:
* we would need to aquire an static Elastic IP address
* we could assign this IP with the following script: https://github.com/skymill/aws-ec2-assign-elastic-ip
* we would need an additiona parameter to add a rule to the security group for allowing Gitlab to the websession port

[2019-07-25 17:23] npalm commented on #104
Thank you for adding this suggestion. Good idea! Would you like to create PR?

[2019-07-26 12:30] kevinrambaud commented on #48
Can it be closed? Was it related to the `gitlab_runner_ssh_cidr_blocks` variable?

[2019-07-26 12:32] npalm commented on #48
@kevinrambaud thanks for the notice

[2019-07-26 12:32] #48 closed

[2019-07-26 12:35] kevinrambaud commented on #49
I noticed the registration token is also visible in the tfstate. Do you already have some strategies in mind to hide it?

[2019-07-26 12:37] kevinrambaud commented on #63
What about using absolute links in the meantime this is fixed? I can open a PR if needed.

[2019-07-26 13:52] npalm commented on #63
Is an option. But then for each release the links needs to be updated. So another ideaa could be en sed or awk expression. That updates the readme. What do you think?

[2019-07-26 14:29] npalm commented on #80
@daanielcarvalho a bit late response. Just verified and it works as documented. By setting `runners_root_size = 25` the seize of the volume is 25 GB for example

![image](https://user-images.githubusercontent.com/11609620/61958862-77cdc100-afc2-11e9-8f6c-ab6ce852854c.png)

[2019-07-26 18:13] npalm commented on #63
@kevinrambaud @demisx  I have create a small fix. See here a sample of the readme for this branch. By default it links to develop unless the env var `GIT_REF` is set before running autodocs

https://github.com/npalm/terraform-aws-gitlab-runner/blob/fix/63-broken-example-links/README.md

[2019-07-26 18:24] npalm commented on #77
@declension the runner supports now multiple instance. You can create multiple runners and share the cache.  See the example in `examples/runner-public`.

[2019-07-26 18:26] npalm commented on #76
@declension you can spin now a runner in multiple zones, would this help see #77  and PR #96

[2019-07-27 10:18] declension commented on #77
Great - we'll try this soon. Thanks @npalm

[2019-07-27 10:18] declension commented on #76
Thanks @npalm, we'll try this soon. Closing for now

[2019-07-27 10:18] #76 closed

[2019-07-28 11:02] npalm commented on #49
@kevinrambaud yes that is correct, and requires in general a secure way to handle the state. An alternative approach for the runner can be to give an option to provide the key not via the terraform configuration but via a vault or AWS SSM.

[2019-07-28 11:22] #49 closed

[2019-07-28 13:16] kevinrambaud commented on #63
Well done, sounds good.

[2019-07-29 09:03] fpalluel commented on #104
Hello,
Ok, I'll create the PR ;-)

[2019-07-29 16:03] #63 closed

[2019-07-29 20:20] npalm commented on #73
The module is ready and will be released shortly. A branch will remain for terraform 0.11 support

[2019-07-29 20:24] #73 closed

[2019-07-29 20:57] npalm commented on #73
Release 4.0.0
https://github.com/npalm/terraform-aws-gitlab-runner/releases/tag/4.0.0

[2019-07-29 20:59] npalm commented on #80
I will close the issue for now, Thanks for reporting

[2019-07-30 09:35] npalm commented on #77
@declension shall I close the issue?

[2019-07-30 12:35] #77 closed

[2019-07-30 21:08] dennis-menge opened #109 "AWS China Support"
Hi there,

I am currently building a simple runner setup which shall be deployed to two different AWS regions, first eu-central-1, and second cn-northwest-1.

The european region is already running flawlessly by using this module (thanks for that)! However, today I started to work on the chinese region. There are multiple issues occurring there, for instance, that you do not have a "SecureString"

[2019-07-31 06:37] npalm commented on #109
@dennis-menge yes please create a PR. If needed / useful add a China example as well.

[2019-08-01 15:46] tony-harverson-moonpig opened #111 "Runner tags namespaced with ":" are split wrong in userdata."
If runner tags are passed in using the "tags" variable, and those runner tags contain ":" (which we're using for namespacing tags), the string passed into the gitlab runner's user_data is incorrect, splitting the name of the key into two (or more) strings.

https://github.com/Moonpig/terraform-aws-gitlab-runner/commit/f97efebb6ca3c9ad83d78d563aefeeb7fdd414dd is an alternative (tf 12 only) strategy

[2019-08-01 17:39] npalm commented on #111
@tony-harverson-moonpig thanks for creating the issue, will check in the next days

[2019-08-01 21:52] npalm commented on #111
Looks good, please feel free to create a PR, terraform 0.12 is now the default. (branche develop)

[2019-08-03 07:40] npalm commented on #104
I would say `runners_tmpfs` variable

[2019-08-03 07:42] npalm commented on #58
@allanlegalstart `name_runners_docker_machine` was not working since its look like a left over. At this time the variable is completely removed. Shall we close the issue?

[2019-08-03 10:01] allan-simon commented on #58
yes I think we can :)

[2019-08-03 13:53] #58 closed

[2019-08-05 20:52] #111 closed

[2019-08-08 08:39] roock commented on #104
@fpalluel did you already start working with the PR? I need this feature too now, so if you didn't start yet, I'm goging to start soon

[2019-08-09 13:37] npalm commented on #81
WIP : create test with terratest

[2019-08-09 13:39] npalm commented on #109
For more details see PR #110

[2019-08-09 13:40] npalm commented on #104
@roock feel free to propose a PR

[2019-08-09 14:00] fpalluel commented on #104
Hello, sorry for the late reply.
Right now i have hardcoded the tmpfs conf like that :
[code]

To make them configurable, do we want to pass a single map for both `tmpfs` and `services_tmpfs`. Such as:
[code]

Or do we make them configurable independently ?

[2019-08-14 14:03] bsuv commented on #80
@npalm this is not resolved! I just set the value of `runners_root_size` in a v4.1.0 module instance and *still* got only 8 GB.

I hope it's fine with you if I submit a PR replacing LCs with LTs and also using an input variable for setting root block device size at LT-time instead of boot time.

[2019-08-14 19:49] npalm commented on #80
@bsuv Thank you for reporting. The runner setup supports two modes, See the scenario's mentionin the readme.

In the first mode the builds are scheduled via a docker machine on spot instances. The `runners_root_size` sized is used for the spot instances hosting docker machine (see sample runner-default). In the thirds scenario builds are running on the the instance created by the auto scaling grou

[2019-08-19 08:24] int128 opened #121 "Add SSM session manager support"
It would be nice if this module supports [AWS Systems Manager Session Manager](https://docs.aws.amazon.com/systems-manager/latest/userguide/session-manager.html). We can access runners in a private subnet by the session manager instead of a bastion and SSH.

We need the following extra work:

- Add an input parameter like `enable_gitlab_runner_ssm_access` (boolean).
- Add [the session manager perm

[2019-08-19 20:46] npalm commented on #121
@int128 would you like to propose a PR?

[2019-08-21 15:04] bsuv opened #124 "Pass an EIP to the EC2 instance created"
In some cases when using spot, I'd like to be able to provide an EIP and reuse them in case the spot is terminated.

This is useful to prevent changing inbound rules that uses the runner's public IP as a source in their inbound rule.

[2019-08-21 21:52] #80 closed

[2019-08-21 21:54] npalm commented on #124
@bsuv feel free to propose a PR. I use the runners in a private subnet, so no public ones are attached.

[2019-08-22 07:45] bsuv commented on #124
I will work on a PR. The issue with having them in a private subnet is that the NAT Gateway costs can become prohibitive

[2019-08-28 21:49] npalm commented on #121
Just dit a quick check, got it working manual. Need to attached the policy:

{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "ssmmessages:CreateControlChannel",
                "ssmmessages:CreateDataChannel",
                "ssmmessages:OpenControlChannel",
                "ssmmessages:OpenDataChannel"

[2019-08-28 21:52] npalm commented on #121
The instance role is currently an output of the module, so adding the required permissions is already possible. But I still like to proposal to add this as an extra feature.

[2019-08-29 08:47] allan-simon opened #125 "creating IAM policy XXX-service_linked_role: EntityAlreadyExists when changing the module name"
I've recently updated our modufle configuration to change the terraform ressource name

from

[code]

to
[code]
(only the module name as changed)

when running the apply we got

[code]

I guess it happens because of a ordering problem in the order the resources are deleted / recreated ?

[2019-08-29 09:34] allan-simon commented on #125
doing a plan + apply, once again solved the problem....

[2019-09-02 16:04] DarwinJS opened #126 "Do Not chmod local keys when they are stipulated (Windows Compat)"
I'm running this on Windows.  Since the template tries to chmod keys that it generates, I overrode with a key I already had.  However, it still tries to chmod.

On an apply of the runner-default example, this seemed to be the only blocker for Windows execution.

Some Possible Fix Implementations:
1. Make permissions commands natively compatible with Windows.
2. Assume that permissions on stipulate

[2019-09-02 18:37] npalm commented on #125
@allan-simon thank you for creating the issue. In case I rename a module I perform normally a `terraform state mv` so no side effects are caused.

But indeed the rename of a module does not work as expected.

[2019-09-02 18:41] npalm commented on #126
@DarwinJS thanks for reporting the issue. I do not use windows so was not aware this limitation. I agree it could be debated to generate the keys and / or change permissions. The intend of the samples is to get started. I guess the generated keys are not working on windows at all? Guess you need to convert them for putty or so.

Could you please check if you replace the `null_resouce` with the one

[2019-09-02 22:00] npalm commented on #121
@int128 do you have time to have a look of the change in branch #127

[2019-09-03 03:16] int128 commented on #121
@npalm Awesome! Looks good to me. Thank you for your great work!

[2019-09-03 21:19] npalm commented on #104
@fpalluel @roock just wondering is one of you still looking to this issue?

[2019-09-04 01:15] DarwinJS commented on #126
@npalm - Windows Services for Linux is not preinstalled on Windows.

I commented out the section that does the chmod and allowed it to use the generated keys and it does not generate an error.  Though I have not tried to SSH the instance.

I also found that on teardown it tries to run a bash script

![image](https://user-images.githubusercontent.com/11597190/64215882-8bebc480-ce84-11e9-86cb-7401b8

[2019-09-04 01:54] DarwinJS commented on #126
Ok when Windows Services for Linux (WSL) is installed, the following additional line works (They are untested since I had WSL installed):

`interpreter = ["bash", "-c"]`

However, the file permissions are not altered (or at least they are not set correctly).  FYI - I do the Windows chocolatey package for the MIcrosoft port of OpenSSH portable.

I put together command line instructions for installi

[2019-09-09 19:37] #121 closed

[2019-09-11 02:31] hendrixroa opened #133 "Encrypt ec2 user data"

[2019-09-11 02:32] hendrixroa commented on #133
@npalm  I can do this. assign me this task pls

[2019-09-30 11:06] lsorber opened #136 "Explain how to update the GitLab Runner in the README"
Hi, thanks for this nice Terraform module!

Could you add a section to the README that explains what the best way to update the GitLab Runner is (assuming the user has previously set up a GitLab Runner with this module)?

[2019-09-30 12:11] roock commented on #124
related issue #92

[2019-09-30 20:18] npalm commented on #136
Thanks, good catch. Would you like to make a proposal via a PR?

[2019-09-30 20:29] lsorber commented on #136
Sure, except I'm not sure what the process is. Here's my guess: changing the `gitlab_runner_version` variable and then running `terraform apply` might do the trick.

[2019-09-30 20:39] npalm commented on #136
We do not use a very smooth process yet. We currently
- bump the version
- apply the change
- disable the runner (pause) in gitlab
- terminate the runner instance, which will trigger the creation of a new agent (via the as group)
- enable the the runner in gitlab

[2019-09-30 20:48] lsorber commented on #136
OK, thanks, I'll try that once there's a new version with significant improvements. If it works, I'll probably contribute a small PR with the necessary steps in detail.

[2019-10-01 11:57] roock commented on #104
@npalm  and @fpalluel  I've created a PR for Terraform 0.11 (still need to upgrade our systems  to 0.12)

[2019-10-04 16:05] npalm commented on #104
Feature is now merged to terraform011 branch, thanks to @roock I will port the change to terraform 0.12 as well.

[2019-10-04 16:21] #104 closed

[2019-10-07 12:27] roock opened #143 "Docker-machine Cert Generation Issue"
The docker-machine cert generation has issues if multiple machines are spin up at the same time.  This was (partly) fixed in #83  but I think the given work around does not fully solve the issue. For me the certificates are generated in /.docker/machine instead of /root/.docker/machine. This has been discussed e.g. in https://github.com/docker/machine/issues/3845#issuecomment-280389178

I propose

[2019-10-07 20:39] npalm commented on #143
Port fix for terraform 0.12, still need to check

[2019-10-08 18:37] #143 closed

[2019-10-18 17:05] roock commented on #136
Maybe it is easier to just stop the gitlab runner by ssh `sudo gitlab-runner stop`. It will stop accepting new jobs and wait for all jobs to finish.
Also you should consider terminating all the docker-machine instances. Next week I might work on an ansible script to do all that.

[2019-10-18 20:08] cabouffard opened #149 "Having issues with provisioning a machine"
Hey,

We've been having issues on and off and I haven't been able to find what was the root of it and I'm seeking help.

We have 2 GitLab agents that run one for each repository that we own.
One of the Agent have 2 idle machines that run and the other one have no idle machines that run.

From time to time, we start getting these errors when creating a machine to run a job:

[code]

This creates an

[2019-10-18 21:00] kevinrambaud commented on #149
I have this same issue for 2 hours now and I have no idea where does it come from. I'm wondering if this is not coming from an external thing than this script. Had no issue since I used it for the last couple months.

[2019-10-18 21:36] adamtysonsmith commented on #149
Yes I am having the same issue, @npalm any ideas?

[2019-10-19 15:22] npalm commented on #149
Looks like something is wrong with the internet connection.

[2019-10-21 15:01] npalm commented on #149
@cabouffard @adamtysonsmith @kevinrambaud do you still have this issue?

[2019-10-21 15:30] kevinrambaud commented on #149
Partially I guess, I was able to have it work by setting the `runners_idle_count` parameter from `0` to `3` after a couple of minutes of failure when creating a new machine, some of them succeeded.

The thing that was too bad with this issue (and this is certainly related to the runner agent itself) is that machines that failed during creation did not have their spot request closed or canceled and

[2019-10-21 15:45] npalm commented on #149
I had issues with non closed spot request prior docker-machine 0.15. Which types are you using? I have just checked our runners fleet, all looks ok.

[2019-10-21 16:15] kevinrambaud commented on #149
So far, I was using `T2.Large` and changed them to `T2.Medium` on Friday. I also witched the AZ in `eu-west-1` from `a` to `b` and updated to the latest version of this module `4.6.0`.

I just canceled manually the spot request for the machines in error.

[2019-10-21 19:07] cabouffard commented on #149
On my side of things, the spot instances were correctly removed. I haven't changed a thing since last Friday and now everything works as expected.

I'm really curious as to what would be the problem. We're heavily dependent on our GitLab pipeline, I'd like to find the reason as to why it doesn't work because if we can't rely on that pipeline then it's bad news.

[2019-10-24 10:31] roock commented on #124
I've started working on this issue: https://github.com/roock/terraform-aws-gitlab-runner/commit/bab9354d53e1db549e311c73d56fc2cd944bcb69
it is working when enabling the use of EIP, but for disabling the feature I need a way to reference a non existing object (aws_eip is only create if the flag is set)

[2019-10-28 17:33] kevinrambaud commented on #149
I didn't have any issue since it happened. I guess we can close the issue?

[2019-10-28 19:54] npalm commented on #149
@kevinrambaud thanks for the update. If no more activity I will close the issue in the end of the week

[2019-11-01 15:53] npalm commented on #149
Since no activity and the issue seems not occurring anymore I will close the issue.

[2019-11-01 15:53] #149 closed

[2019-11-08 19:46] bsuv opened #155 "Pass IAM policies ARNs as a list to an input variable"
It would be much more convenient if one could reuse existing IAM policies (custom or managed) and just pass a list of ARNs that would be attached to the Runner's roles

[2019-11-10 12:51] npalm commented on #155
Good idea, feel free to create a PR

[2019-11-18 14:53] Glen-Moonpig opened #160 "Runner configuration does not work with DinD 19.03+"
As of version 19.03, docker:dind will automatically generate TLS certificates in the directory specified by the DOCKER_TLS_CERTDIR environment variable and require using them for communication.

When you upgrade to 19.03 (which is done automatically if using docker:dind) you may start seeing an issue like:

To fix the problem above you have two options:

- Configure GitLab Runner to use TLS.
- Exp

[2019-11-22 14:33] npalm commented on #160
I did a quick test, you can configure the runner so it will mount the cert dir so builds will work with docker:dind image as a service. Set the following property for the module
[code]

I have tested the configuration https://github.com/npalm/terraform-aws-gitlab-runner/blob/develop/examples/runner-default/main.tf with the following `.gitlab-ci.yml` It works as expected.
[code]

[2019-11-28 13:00] Glen-Moonpig commented on #160
Thanks Niek, this did fix the problem.

[2019-11-28 13:00] #160 closed

[2019-12-04 17:54] kostyrev commented on #124
@roock do not hard code region and please do rebase from upstream and open PR

[2019-12-04 20:46] roock commented on #124
@kostyrev ups, thx for the hint

[2019-12-09 20:08] novushealth opened #162 "Encrypted volumes"
Hi Can someone tell me how can the  runner and the docker-runners can be created with encrypted volumes?

[2019-12-11 15:49] pshuman-heb opened #163 "Runners should remove themselves on instance termination"
Right now, when a runner instance is terminated, it leaves behind a phantom runner registration in Gitlab that takes a few minutes to go unhealthy, and requires you to go into Gitlab to remove it. It should be easy enough to use the stored access token to fire off a `DELETE` request as [documented in the Gitlab API](https://docs.gitlab.com/ee/api/runners.html#remove-a-runner), and hook that script

[2019-12-11 18:42] ado120 commented on #163
I also agree that when destroying the gitlabrunners via terraform destroy, the runners themselves should be removed from GitLab Runners page

[2019-12-11 20:22] pshuman-heb commented on #163
@ado120 I think this will work as a catch-all for both that situation, and for instance termination inside of AWS, either natural reboots, ASG actions, or Spot Instance terminations.

[2019-12-12 17:51] npalm commented on #162
@novushealth for the runner we could update root_block_device in the aws launch configuration to encrypt the volume. For the docker runners the only option I see is to encrypt the docker-machine AMI and use that AMI instead of the default one. The aws docker machine driver has no option te enable encryption.

[2019-12-12 19:17] novushealth commented on #162
Thanks for the answer. In my case I end up enabling the "Always encrypt new EBS volumes" setting on the ECS Settings page. After doing this, all new instance volumes get encrypted at creation time.
Thanks again

[2019-12-12 20:08] npalm opened #165 "Allow EIP assignment for runner instance"
See https://github.com/npalm/terraform-aws-gitlab-runner/pull/161/files

[2019-12-12 21:51] #165 closed

[2019-12-12 22:50] npalm commented on #162
@novushealth thx for the feeback, I guess you mean EC2 console (https://eu-west-1.console.aws.amazon.com/ec2/home#EC2Settings:)

Shall we close the issue?

[2019-12-13 10:05] npalm commented on #162
And the terraform way

[code]

[2019-12-16 11:51] riccardomc opened #169 "docker runner fail to upload artifacts"
Hi, thanks for this module.

I am running into an issue with newly created gitlab runners. I am unable to upload artifacts to gitlab.com and I suspect it is because the url is wrong. The issue is well described here:

https://gitlab.com/gitlab-org/gitlab-runner/issues/4083

[2019-12-16 14:11] novushealth commented on #162
Yes, you can close the issue. Thanks

[2019-12-24 11:43] npalm commented on #169
@riccardomc thanks, released the fix in 4.10.0

[2019-12-24 11:43] #169 closed

[2020-01-13 11:02] Glen-Moonpig opened #175 "Tags for EC2 instances"
We have a requirement to apply certain tags to EC2 instances only. The module currently only has one 'tags' input variable, which applies to all resources.
We are considering adding a new input variable for tags that will be applied to the EC2 instances only (as well as the tags being applied currently).

[code]

Is this something that you might merge in? Any other suggestions?

[2020-01-13 14:04] npalm commented on #175
@Glen-Moonpig yes a PR is welkome! Beware that there are two types of instances. Also you can have a look at the variable `overrides` this variable overwrite defaults for names of the instance

[2020-01-21 21:39] Glen-Moonpig opened #176 "Invalid count argument error forces local_file.public_ssh_key to be deployed first"
I had just updated from commit 16d2e2b556641ff67771c3c47b6c81a07f03a677 to 26310fbf2287c4087ba16f2d6835b962bd46430b and tried a fresh deployment and found that it errors:

I had to deploy the local_file resource for the SSH key using the `-target` argument before I could deploy the terraform-aws-gitlab-runner module. This was not previously an issue. I can see the count expression has changed from

[2020-01-22 19:30] nhooey commented on #176
@Glen-Moonpig Could you paste the exact invocation you used to get this working?

[2020-01-22 20:36] Glen-Moonpig commented on #176
You just need to use the -target argument when you run terraform/terragrunt so that only the local_file resource is deployed (to the local terraform cache folder). Once the file is created you can run the same terraform command without the target argument to deploy all resources.

For example:

[code]

[2020-01-23 13:21] roock opened #177 "Update to Amazon Linux 2"
Quoting https://aws.amazon.com/amazon-linux-ami/faqs/
Amazon Linux Version 1 (2018.03) will be out of support on June 30, 2020. Instead Amazon Linux Version 2 should be used. (there are some hints in the README which say that it's currently not working).

My suggestion would be to also try to support Ubuntu as a secondary installation target. Hopefully I have time in the next weeks to take a look

[2020-01-26 18:03] lsorber commented on #176
Ran into the same issue, am I using this module in an unintended way or is this a bug?

[2020-01-27 07:52] lsorber opened #178 "Name is not configured even though `runners_name` is set"
After having just deployed a GitLab Runner with the latest version of this module with `runners_name` set, it seems that GitLab doesn't know the newly created Runner's name:
![image](https://user-images.githubusercontent.com/4543654/73157679-14902900-40e2-11ea-99b5-000ac3bd762f.png)

[2020-01-30 15:34] Glen-Moonpig commented on #178
I think this might be a GitLab issue. The name should still be visible on the settings/ci_cd page. I have never figured out how to get a value into that Name field.

[2020-02-02 14:50] lsorber commented on #160
This bit us as well. Perhaps make this the default instead of a workaround?

[2020-02-03 20:22] npalm commented on #178
I have just create a runner based on the default example. The name of the runner shows correctly in gitlab

<img width="482" alt="Screenshot 2020-02-03 at 21 21 00" src="https://user-images.githubusercontent.com/11609620/73687920-477e8200-46cb-11ea-9f18-cfeb92c7056b.png">

[2020-02-03 20:27] npalm commented on #176
It is a bug, but I thinking about removing the 3 different ways to set the SSH key. The current way is far complex.

I would like to support a user provided reference to an existing EC2 key only, removing the part where te module is generating a key. Besides using an SSH key, the session manager is supported as well.. Anyone a suggestion?

[2020-02-03 20:33] #163 closed

[2020-02-06 03:15] Nekroze opened #180 "Expose ASG cloud watch metrics config"
It would be great to be able to pass through some config to enable metrics where desired. Primarily I was hoping something like this already existed so this module would stop reverting me manually enabling ASG detailed metrics so that I could dashboard them. Passing through at least this option then would be quite helpful https://www.terraform.io/docs/providers/aws/r/autoscaling_group.html#enabled

[2020-02-09 09:33] npalm commented on #178
Closting since it is not a issue at this infrastructure repo for the github runners

[2020-02-09 09:33] #178 closed

[2020-02-25 22:35] npalm commented on #177
Thanks @chludwig-haufe

[2020-02-25 22:35] #177 closed

[2020-02-25 23:04] npalm opened #186 "Remove the support for register the runner outside the module"
Due to backwards compatibly the module still supports the scenario to register a runner manual and pass the token. To reduce the complexity and number of scenarios this option will be removed.

[2020-02-27 11:24] npalm opened #187 "Runner rags for docker machine can contain double comma"
Tag string can contain a double comma when overrides are used for tagging and naming.

[2020-02-27 11:47] #187 closed

[2020-03-02 13:27] realsby opened #189 "Private ECR image in runners"
I shared an example in the comments.

[2020-03-02 13:29] realsby commented on #189
I know this issue is not about your plugin.
But I wish at least you have an example to support private ecr images in runners with docker machine.

[2020-03-03 04:33] realsby commented on #189
After I installed amazon-ecr-credential-helper to both instance, it started to work. Here the full sample for the ones who wants to use private ECR image in runner:

[code]

[2020-03-03 04:36] #189 closed

[2020-03-10 06:59] #175 closed

[2020-03-10 07:00] #126 closed

[2020-03-10 19:37] fliphess opened #193 "Deprecated warning when using single last release"
Hey Niek :)

When I use the single last release, the `4.11.0` version, I get a deprecated warning for using a destroy provisioner:

[code]

I'm not sure if it was on the radar yet (normally I would love to take a dive to fix it, but sadly I'm not in the position to do so atm)

I noticed there is a `4.11.1` release as well from last week, is it ready for use yet? There weren't as much comments and

[2020-03-12 07:21] npalm commented on #193
@fliphess thanks for taking the time to create an issue. The problem you mentioned with the deprecation warnings was earlier the week fixed on develop, no release yet. I try to make a another one in the next days.

4.11.1 is only fixing a strange issue in all the ways you can tag. It can occur that you end up wit a key value string for docker-machine that contains a double `,,` which is invalid. T

[2020-03-12 17:55] fliphess commented on #193
Ah perfect, I'll wait a bit until the next release! Let's close this as it's fixed in the code :)

[2020-03-12 17:55] #193 closed

[2020-03-13 08:07] err0r500 opened #194 "cloud-init fails in eu-west-3"
Hello,
I first tried to overridre the default region with `eu-west-3` and noticed the runner wan't registreing my gitlab instance.
The reason was that cloud-init failed. I tried with the default `eu-west-1` region and everything worked fine.
My hypothesis is that the wrong ami is picked in `eu-west-3`.

[2020-03-13 09:02] npalm commented on #194
@err0r500 I doubt that the AMI is the problem, we use an AMI filter to find the right AMI. So there is no map or hardcoded AMI. Can you share the error?

[2020-03-13 20:47] alvarodelvalle opened #196 "Where are the machine runner pem keys"
Hi, 👋 firstly, awesome product! I am wondering when I can find the pem file so I can connect to machine runners? I am running the project with docker-machine executor with the agent runner configured for SSM. When I connect to the agent runner, I see that there are directories for each machine runner in /root/.docker/. In any given machine directory, there are a few pem files, which I tried using

[2020-03-13 21:55] alvarodelvalle opened #197 "docker+machine TLS config challenges"
I spent all day today trying different configurations to utilize TLS on a docker+machine executor configuration. I've read a lot of material in this repo and elsewhere.
This seems to be the way 'it should' work:
## runners.docker configuration
[code]

## .gitlab-ci.yaml
[code]

## Actual results
[code]
## Other configs I've tried
[code]
This actually complains that the '/certs' directory is invali

[2020-03-14 00:33] npalm commented on #196
Keys for the machines are on the agent instance, should be in a docker or docker machine dir. Just login via SSM to the agent instance and next login dot the machine with `docker-machine ssh <id>`

[2020-03-18 08:52] npalm commented on #196
@alvarodelvalle shall we close the issue?

[2020-03-18 08:53] npalm commented on #194
@err0r500 did you had time to have a look on my question?

[2020-03-18 09:10] err0r500 commented on #194
Hi Niek,
I was working on something else these days and it was more a heads up than anything else (because `eu-west-1` was actually fine too) .
I try again today and keep you updated

[2020-03-18 09:24] npalm commented on #194
Thanks for the update, no hurries

[2020-03-18 19:05] #196 closed

[2020-03-19 14:29] realsby opened #200 "Bucket lifecycle policy prefix should be configurable"
I found my cache bucket size is over 300 GB! It has files from a few months ago. But I already set the cache_expiration_days to 5.  Then I found it create a lifecycle policy for the objects with prefix : runner/, but all my objects stored in prefix : project/ folder. I don't know why it is working like this. But I wish that you apply the lifecycle rule for the whole bucket, or you can make a varia

[2020-03-19 22:55] npalm commented on #200
@realsby good catch. Feel free to propose a PR. A variable for with a prefix sounds like a easy fix without breaking any backward compatibility.

[2020-03-26 21:44] npalm commented on #200
Added to release 4.13.0

[2020-03-26 21:44] #200 closed

[2020-03-31 11:40] realsby opened #206 "Existed Cache bucket usage policy attachment to docker machine is missing"
I am following this sample,
https://github.com/npalm/terraform-aws-gitlab-runner/blob/develop/examples/runner-public/main.tf

when you create cache bucket outside of the module, even if you pass the related policy arn into  cache_bucket variable, it is not attached because create is false..
[code]
 So you have to attach it, outside of the module. If this is the case you need to update example. If

[2020-03-31 20:21] npalm commented on #206
@realsby good catch, thanks for creating the issue

[2020-04-01 08:04] fliphess opened #209 "Leftover instances, buggy startup and other docker-machine issues"
I'm running into some issues using the docker-machine setup:

Due to some bugs in the docker-machine setup for AWS, there are many leftover nodes that are not cleaned up after running tasks or nodes that are configured but never used and never removed, bringing up the cost for our runners.

I've seen many bug reports on gitlab of other docker-machine users running into issues like this (the bigges

[2020-04-01 10:49] npalm commented on #209
@fliphess We do not face this issue, runners are removed without an issue. We had those kind of issues pre docker-machine 0.16. Yes I am aware of the gitlab fork of docker-machine. Did not had the time to integrate and test it yet.

[2020-04-01 19:53] Glen-Moonpig opened #210 "Are docker images pruned from runners after use?"
Hello Niek, I have a question you might be able to help me with..

I recently had to increase the root volume size of the runners because they were running out of disk space during job execution. I think this happened because some pipelines started using large docker images and suspect the images are pulled from the registry to the EC2 instance root volume to execute the job and then after the job

[2020-04-02 09:37] fliphess commented on #210
@Glen-Moonpig I've run into this as well and fixed it by adding the `gitlab-runner-docker-cleaner` to my post install, which works really well for me:

[code]

[2020-04-02 09:39] fliphess commented on #210
it's good to know that pulling the image takes a long time, which caused a race condition while registering the runner resulting in being blocked on the gitlab api. This was solved by pulling the image in the background, hence the appended `&` :)

[2020-04-02 09:47] fliphess commented on #209
@npalm How many instances are you running in your scaling setup?

I noticed the `IdleCount` thing I run into (https://gitlab.com/gitlab-org/gitlab-runner/issues/1423) only appears with smaller setups. Do you happen to have worked around this already or is it not an issue for  you?

[2020-04-02 09:51] Glen-Moonpig commented on #210
Thanks @fliphess , I had seen this repo but wasn't sure if it would be compatible with this module, I will try it out. Does the image run on the agent machine and clean up images from the runner machines?

[2020-04-02 10:03] fliphess commented on #210
It doesn't on docker-machine, only on the local runner, I'm currently working on a new gitlab-runner setup for the company I work for to create a scaling setup, and I haven't solved this yet.

Gitlab provides tooling to cleanup:
https://gitlab.com/gitlab-org/gitlab-runner/blob/master/packaging/root/usr/share/gitlab-runner/clear-docker-cache

You might be able to run this script as a post task or t

[2020-04-02 14:15] npalm commented on #209
No, we run with 2 agents. One having up to 10 runners and another one up to 5. The config of the first one below

[code]
Only issue we have time to time is a full disk. For the rest it all works

[2020-04-02 16:17] fliphess commented on #209
Thanks! I'll close this issue as the problem I run into is not in the module but either in my setup or docker-machine which are both out of scope of this issue :)

Thanks for the information! 👍

[2020-04-02 16:17] #209 closed

[2020-04-02 16:44] DavidGamba commented on #209
A way to define the use of the gitlab fork of docker machine would be beneficial.

[2020-04-03 06:47] fliphess commented on #209
I'll see if I can create a PR soon :) 👍

[2020-04-04 09:00] #162 closed

[2020-04-04 09:00] npalm commented on #136
Runner will update now by replacing the auto scaling group, so I will close the issue

[2020-04-04 09:00] #136 closed

[2020-04-04 09:02] npalm commented on #133
@hendrixroa Would you still like to implement this feature?

[2020-04-04 09:07] npalm commented on #197
Did you have tried a newer docker version?  Some TLS things were changed around version 18.03 if I remember  correctly.

[2020-04-04 09:10] npalm commented on #210
@Glen-Moonpig I only use the docker-machine setup, with a short cycle of ec2 instances. Thereform not having this issue. Would you like to update the docker example with the post install. Sound like a good approach.

[2020-04-04 09:16] #206 closed

[2020-04-04 10:34] npalm commented on #194
@err0r500 I also tried eu-west-3, which was failing on creating a bucket. The problem was that I had used the bucket with the same name minutes before in eu-west-1. After enforcing a fresh bucket name by setting `cache_bucket_prefix` the problem was resolved. The module offers some variables to get more control of the bucket name.

Shall we close the issue?

[2020-04-04 10:48] npalm commented on #176
I am planning to drop the support of an SSH EC2 key managed by the module. To access the instances you can either inject an ec2 key pair or use the Amazon sessions manager, see #192 for the PR. Please feel free to comment on this PR

[2020-04-07 20:53] hendrixroa commented on #133
@npalm Really doesn't necessary, feel free to close this, you already merged some important encryption things that matter

[2020-04-07 20:53] #133 closed

[2020-04-08 19:40] #194 closed

[2020-04-09 22:55] DavidGamba opened #211 "Shared cache module has to be applied manually with target before applying the runner"
I ran into this error:

[code]

As the error indicates, I had to do:

`terraform apply -target module.cache`

That configuration section looks like this in my case:

[code]

so the policy is not known in advanced.

Why does the count also depend on the policy variable?

[2020-04-10 17:44] DavidGamba commented on #189
@realsby This setup isn't working for me, would you mind verifying this example is still valid?
Thanks!

[2020-04-10 19:59] realsby commented on #189
@DavidGamba Yes it is working. This is the recent copy.

[code]

[2020-04-13 13:54] npalm commented on #211
Thanks for creating the issue. The policy is used to attach to the runners so the runner can access the cache. In case no cache is used no policy is attache, so therefore the count.

In case you don't want to use a cache you can set the cache_bucket variable as follow.
[code]

I agree it would be more elegant in case the property policy and bucket can be left out.

[2020-04-13 14:15] npalm commented on #211
I have made a small change, see the open PR. With the version on that branch you should be able to disable the cache by setting
[code]
Be aware the quotes for false, they are required. This is a left over of the terrafrom 0.11 erra with less typing.. So tuples in the map have mixed types.

[2020-04-13 16:40] DavidGamba commented on #189
@realsby thanks so much, just for clarity with that I can just call the image directly in my .gitlab-ci.yml file right?

[code]

Or are you doing anything different there?

[2020-04-13 20:59] DavidGamba commented on #211
The fix you provided worked for me. Thanks @npalm

[2020-04-14 08:49] martinhanzik opened #213 "enable_forced_updates seems backwards"
I'm not sure if I'm just not understanding this correctly, but the behaviour seems to be inverted. I have 2 runners set up, one with enable_forced_updates set to true, and one with default (false). Both of them have a change in their user_data, so the launch configuration is replaced. The ASG for the runner with enable_forced_updates is just updated to point to the new configuration, while the ASG

[2020-04-14 15:40] DavidGamba commented on #213
Seems right to me, `enable_forced_updates` seems to mean that your existing runner will point to a configuration it wasn't spun up with which could lead to config drift.
The default behaviour should be the safe one `enable_forced_updates` set to false so a new ASG means a new runner without trying to force_update an existing one.

[2020-04-14 15:46] npalm commented on #211
Cool, thx for the feedback. I will do a quick check with my own config and merge them back asap

[2020-04-14 15:50] martinhanzik commented on #213
Based on the documentation "Enable automatic redeployment of the Runner ASG when the Launch Configs change." I would expect, that setting it to `true` would redeploy the ASG with the new configuration, setting it to `false` would require me to manually update (by killing the old instance). It works exactly the opposite way.

Is `force_update` a term used with ASGs? Some kind of parameter to force

[2020-04-14 16:04] martinhanzik opened #214 "Old runners not cleaned up after ASG update"
If any change triggers a user_data update and an ASG recreation, the docker machine instance is not terminated, only the manager.

Configuration:
[code]

[2020-04-14 20:22] npalm commented on #214
@martinhanzik I think you are right, personally I do not use the `enable_forced_updates`. But since this will stop the scaling group / terminate the instances in the scaling group it only terminates the agent. The docker-machine instances will not be cleared. Any suggestion for a fix?

[2020-04-14 20:31] npalm commented on #213
@martinhanzik I fully agree to your comment. By setting `enable_forced_updates` to `false` should not impact the ASG en require manual intervetion. But I have just checked the configuration and it implmented in the opposite way.

So the only good fix will be a breaking change with a new variable name. For the time being I can keep the old var as well. Do you have any suggestion for a new variable

[2020-04-14 21:49] npalm commented on #197
@alvarodelvalle Did you had time to check my suggestion, shall we close the issue?

[2020-04-14 21:50] npalm opened #215 "Support custom docker machine distribution"
Docker machine is in maintenance mode, therefor GitLab is maintaining an own fork.

Add the option to the module to set a custom docker machine download url

[2020-04-15 06:37] martinhanzik commented on #213
`enable_asg_recreation` is probably the best, I haven't been able to come up with anything better.

[2020-04-15 14:33] alvarodelvalle commented on #197
I've tried different docker versions. I decided to use k8s integration instead.

[2020-04-15 14:33] #197 closed

[2020-04-16 16:21] martinhanzik commented on #214
Maybe ASG events like https://docs.aws.amazon.com/autoscaling/ec2/userguide/lifecycle-hooks.html could be used - have a process trying to read the termination notification and perform a clean shutdown of all the docker-machine instances.

[2020-04-17 14:18] #215 closed

[2020-04-17 14:18] #211 closed

[2020-04-20 19:16] frcho opened #218 "The script cancel-spot-instances.sh doesn't remove spot instances."
Hi, I have the next error.

When the next command in cancel-spot-instances.sh is excecute:

`aws ec2 describe-spot-instance-requests --filters "Name=state,Values=active,open" | jq -r '[ .SpotInstanceRequests[] | select( .LaunchSpecification.IamInstanceProfile.Name | contains("'$1'")) ]'`

The output shows:

[code]

But It's coming in the **else** condition.

of the next validation.
[code]

for thi

[2020-04-21 07:17] npalm commented on #218
@frcho thanks will check the PR asap

[2020-04-21 08:22] #218 closed

[2020-04-22 18:26] bishtawi opened #220 "Feature request: GitHUB self-hosted runners"
So this is obviously a huge undertaking and would live in its own git repo but I figured I would open up an issue here and start the discussion.

GitHUB (not GitLAB) now supports [self hosted runners](https://help.github.com/en/actions/hosting-your-own-runners). It would be nice to get a Terraform AWS module to bring up Github runners similar to how this module brings up Gitlab runners.

[2020-04-24 09:11] npalm commented on #220
Would be great to have a elastic setup on spot for the github runners. I did a already some experiments, see https://github.com/npalm/gh-runner-aws-spot-experiment . And we actually already working on a set up. Hopefully release this in the next 2 to 3 weeks.

Since this issue is not related to the GitLab runner I will close it. Thanks for the sugges. I will update the issue once we release the gi

[2020-04-24 09:11] #220 closed

[2020-04-26 11:35] npalm commented on #213
@martinhanzik thx

[2020-05-14 20:05] npalm commented on #220
@bishtawi see https://github.com/philips-labs/terraform-aws-github-runner I am just finializing the a branch after which the module is ready to test.

[2020-05-20 11:21] ilansh opened #222 "Add option to request spot-instance with on-demand price"
When leaving spot-price empty, the price defaults to on-demand price, no need to come up with arbitrary numbers.

https://aws.amazon.com/blogs/compute/new-amazon-ec2-spot-pricing/

[2020-05-20 20:39] npalm commented on #222
@ilansh The module is only taking care of creating the infrastructure. Creating the ec2 instances is handled by the aws provider for docker machine. So as for I can see there is no option to support this feature in this module. It is the gitlab agent that request ec2 instances via docker machine. What is your view?

[2020-05-22 15:41] eterna2 opened #226 "gitlab runner running inside docker-machine instead of asg?"
Asking for some advice on whether I did something wrong?

Basically, I want to have my runner to perform terraform apply (so I am giving it an instance profile with specific permission).

But what I observed now is that, an asg with a single spot instance with a module generated profile is created. And when my pipeline has a job, I don't see any new spot instance created (with my provided profile)

[2020-05-24 06:49] ilansh commented on #222
Perhaps if docker-machine's `--amazonec2-spot-price` flag is left undefined.
Not sure what's the default for it though.

[2020-05-24 10:49] npalm commented on #226
@eterna2 you configuration looks correct, but ensure the instance profile has the right policies. The module will launch one instances to run the gitlab runner agent. This agent creates when there are builds via docker machine spot instances. The agent is running in a ASG with one node.

The instance profile you pass will be assigned to docker machine ec2 spot instances. Those will only be created

[2020-05-24 14:38] ilansh commented on #211
I'm not sure the issue has been solved.
The shared cache still requires an extra step of applying with -target, before applying the runner.
Or am I missing something?

[2020-05-24 16:41] npalm commented on #211
As far I am aware it should be fixed, can you share an example. Or even better try to reproduce on one of the module examples. The public runners are sharing a cache.

[2020-05-26 05:15] eterna2 commented on #226
this is the strange part. My agent is connected, and it is running normally, as in my CI runs, but I don't see any additional spot instance.

The CI scripts are running inside that single spot instance instead of creating a runner with the instance profile I provided.

This is the CI logs. The credentials are wrong. I was monitoring on my web console, I dun see any new spot instance spin up at all

[2020-05-26 05:26] eterna2 commented on #226
Ok I figure what went wrong. Stupid me, I forgot to set the tags in the CI to use my runner instead of gitlab free runners.

It is working fine. Sorry for the stupid qns.

[2020-05-26 05:26] #226 closed

[2020-05-26 18:29] nlarzon opened #227 "Question: Use tls settings in [[runners]] section"
Hi,

I have a private gitlab that is requiring certificate to pass the firewall, so I need to be able to configure the following:
tls-cert-file | File containing the certificate to authenticate with the peer when using HTTPS
-- | --
tls-key-file | File containing the private key to authenticate with the peer when using HTTPS

https://docs.gitlab.com/runner/configuration/advanced-configuration.html

[2020-05-27 12:51] npalm commented on #227
Thx for creating the issue, will come back to your question later this week.

[2020-05-27 17:23] patramsey commented on #214
@npalm updating the version of Terraform closed this issue?

[2020-05-27 20:21] npalm commented on #214
The problem is that the docker machines are managed by the agent running in the ASG. Simply terminating this instance by replacing the ASG leaves thoses instances un registered and they will be never removed. Did you noticed what happen to active builds?

This means there will no events to listing for, but having an lifecyle hook + lambda could potential clean up the docker machine left overs. Sti

[2020-05-27 21:47] eduardojld commented on #18
had a similar issue, where spot instances where not created, logs showed the creation failed but no reason for it. I'm not sure why it happens, but knowing that changing region worked for the reporter I tried just using a different subnet in a different AZ and that is working for me

[2020-05-28 16:57] fedemzcor opened #229 "runner job when start stay freeze"
May 28 16:53:59 ip-172-31-37-190 gitlab-runner[21306]: output  : sudo: docker: command not found         #033[0;m  driver#033[0;m=amazonec2 name#033[0;m=runner-faz2ny1r-runner-1590684391-01a082ca operation#033[0;m=create

May 28 16:54:03 ip-172-31-37-190 gitlab-runner[21306]: Error getting SSH command to check if the daemon is up: ssh command error:#033[0;m  driver#033[0;m=amazonec2 name#033[0;m=r

[2020-05-28 19:28] npalm commented on #229
@fedemzcor thanks for report but the information you provided does not ring any bell. We have no issues with the runners last months. We serve during day. time builds is roughly 10 docker machines.

[2020-05-28 19:32] #180 closed

[2020-05-29 17:07] patramsey opened #230 "gitlab-runner.tpl does not check the validity of secure_parameter_store_runner_token"
I've run into some issues where the token stored in SSM is invalid in testing. This seems to mostly arise from the runner not triggering remove_gitlab_registration on termination of the instance from the AWS Console. This has been tested with the "Runner - Docker runner" setup
https://github.com/npalm/terraform-aws-gitlab-runner/tree/develop/examples/runner-docker

Instead of assuming the token in

[2020-05-30 09:55] npalm commented on #230
@patramsey Sounds like a good proposal to me, another approach could be to remove SSM part completely and always request a token.

[2020-05-30 10:12] nlarzon commented on #227
We need to modify the
[code]
By adding :
[code]

The question is what is the best way of getting the cert on to the machine?

[2020-06-09 08:56] kitos9112 commented on #222
This is an interesting topic, taking a look at the source code for the [AWS driver `docker-machine` ](https://github.com/docker/machine/blob/master/drivers/amazonec2/amazonec2.go), the default value for defaultSpotPrice is set to $0.5. This piece of code has not been recently updated though.

[code]
I think it may be worth raising an issue in their side so we might have a developer taking an actio

[2020-06-25 08:52] fliphess opened #231 "Runner gets blacklisted for incorrect token"
Hey Niek,

I'm running into some issues when a agent node fails or when the agent is deleted and the machine is recreated withing the ASG from user-data.

I'm using the cloud version of gitlab, not a self hosted instance.

As soon as the gitlab-runner is installed, the runner is started with the token `__REPLACED_BY_USER_DATA__` and the next thing that happens is the gitlab runner trying to retrie

[2020-06-25 09:44] fliphess commented on #231
I think this has something to do with it:

[code]

[2020-06-25 09:55] fliphess commented on #231
I installed awscli in the container, now the local-exec succeeds but results in a SSM parameter value with value `null`

[2020-06-26 22:25] npalm commented on #231
@fliphess thanks for sharing, will check your issue next week.

[2020-06-29 08:15] kayma-hl opened #232 "Does aws_zone has to match the subnet availability zone?"
Hi,

by accident I set the aws_zone to "b" but used a subnet_id_runners from availability zone eu-central-1a. As a result no runner was created. So if both variables are related I propose to remove the aws_zone variable and read the availability zone of the subnet via

`
data aws_subnet runners {
  id = var.subnet_id_runners
}
`

Best regards
Matthias Kay
Hapag-Lloyd AG

[2020-06-29 08:37] kayma-hl opened #233 "Merge tags for agent runner EC2 instance to remove duplicates"
Hi,

I set the environment variable to "abc" and use tags for the runners including the name tag.

[code]

The problem is, that the environment variable is always added as a name tag to the agent. In the end it contains 2 name tags.

Proposal: Add the anvironment as name tag only if the agent has no name tag.

Best regards
Matthias Kay
Hapag-Lloyd AG

[2020-06-29 08:41] sjoerd-dijkstra opened #234 "Problem private ECR"
We're having problems using images from our private ECR. Followed #189 to no avail, the issue seems in instantiating the runners. `amazon-ecr-credential-helper` does not seem to do anything.

In cloud watch we find many log lines:

(striped from color codes)

Anybody an idea what the issue could be? We're using docker+machine with spot instances and the module seems to work as expected (registerin

[2020-06-29 09:01] sjoerd-dijkstra commented on #189
Hi guys, we're trying to setup the same thing, not having it all working yet. (see #234 for details). Is above configuration still working @realsby , @DavidGamba ?

Do your runners maybe also report?

It seems our `runner-agent` is not successfully pushing the user-data to the actual docker machine runners..

Thanks in advance!

[2020-06-29 15:29] realsby commented on #189
@sjoerd-dijkstra I recently updated everything, runner version, os ami images, this module version and they all worked fine without any problem with the ecr.

I am not sure what is the problem that you are facing with, i saw you also give ECR full permission to everything.
The only thing that i realize you define runners_image but when i check my terraform i did not set anything so it is using the

[2020-07-02 09:06] fliphess commented on #231
What helped for me, was creating a new token, remove the SSM parameters and removing the instance so the ssm parameter is updated.

I think there is a little timing issue that can work both ways: If you're lucky and the configuration is done fast enough the registration succeeds, if  there is a little slow down due to for example lots of packages having to be updated from user_data you can end up

[2020-07-02 12:46] lsorber commented on #210
@fliphess Thanks for sharing! What value are you using for `root_size` with that `userdata_post_install` script?

[2020-07-02 13:15] fliphess commented on #210
Hey @lsorber We are using 150GB disks.

As we do some integration testing that requires pulling lots of different images at the same time, resulting in a large storage need, we added another cronjob that runs nighty as well to ensure some images are removed too as the cleaner docker wasn't always aware of images that are pulled directly using the docker daemon:

[code]

Which is a bazooka shooting

[2020-07-05 12:43] npalm commented on #232
@kayma-hl I am not complete sure why we have splitted those two variables. I doubled checked the docker machine docs for EC2 (https://docs.docker.com/machine/drivers/aws/) and it seems we really have to set the zone paramters. Would you like to propose a PR to replace the logic by a lookup?

[2020-07-05 12:45] npalm commented on #233
Good suggestion, could you propose a PR?

[2020-07-05 12:59] npalm commented on #234
We run the runner for a large set of projects, so we do not grant the runner any extra rights in AWS. Not sure what you exact needs are, but you could create an Policy in AWS that allows access to your private ECR. Next you can attach the policy to the role of the runner `runner_role_name`. You runners should then be able to access ECR. No aws credential help needed as for I know.

[2020-07-05 13:00] npalm commented on #231
@fliphess would be great if you can come up with a proposal in the next week. I also quite busy. Maybe we could even completly remove the SSM storage.

[2020-07-05 14:39] fliphess commented on #231
Hey @npalm

To prevent secrets in git, I use secrets manager to store the tokens theirselves and let terraform retrieve them using a data source. This works well, but combined with SSM parameters it can cause some confusion om what places to change a token when a runner is blacklisted.

The validation would help, but I'm not sure if it's needed if the SSM parameters are removed. The SSM parameter

[2020-07-05 19:09] kayman-mk commented on #234
I have seen the first error message in my logs if the var.aws_zone (default is "a") didn't match the availability_zone of var.subnet_id_runners. See #232

I guess this is not the problem, but the second error message looks like a missing DOCKER_AUTH variable in the CI system.

[2020-07-06 07:38] kayma-hl opened #235 "Remove var.aws_zone in the next major release"
The aws_zone parameter in variables.tf is already deprecated and can be removed. I have already adjusted the documention (see #232).

[2020-07-06 08:40] ghost opened #237 "Pipeline is green but console shows error message"
A terraform file in a PR had an error, but all checks were passed?! The console output shows an error message.

See [Pipeline should fail](https://github.com/npalm/terraform-aws-gitlab-runner/pull/236/checks?check_run_id=840691206), step verify-examples.

[2020-07-06 10:46] kayma-hl commented on #233
The main problem was the creation of the tag list for the runner agent. It used local.tags which contained the "Name = var.environment" tag. When setting the tags of the instance a simple concat() of several lists was executed which resulted in two "Name" tags.

Replaced by another local variable "agent_tags" and used the merge() operation to remove the duplicate "Name" tag.

[2020-07-12 12:15] #232 closed

[2020-07-12 12:37] #233 closed

[2020-07-12 12:38] npalm commented on #235
Solved by #236

[2020-07-12 12:38] #235 closed

[2020-07-12 12:50] npalm commented on #227
A bit late response, but the best way is to user the user_data script to get it on the machine, You could copy the cert via SSM or S3 for example.

You could add the follow line to the module:
[code]
And load the user data
[code]
And create a template like:
[code]

[2020-07-12 12:55] npalm commented on #229
@fedemzcor do you still have the issue?

[2020-07-13 11:17] #227 closed

[2020-07-20 09:25] kayman-mk commented on #155
Is this under development? I am also interested in this feature but want to avoid coding it twice.

[2020-07-20 13:29] npalm commented on #155
@kayman-mk as for I know there is not development on this issue, looking forward to a PR

[2020-07-20 16:30] kayman-mk opened #240 "Use runners.autoscaling instead of OffPeakPeriods"
I received a warning that the Off Peak time mode shouldn't be used any longer (is deprecated) and should be replaced by [[runner.machine.autoscaling]]

[code]

[2020-07-20 18:54] npalm commented on #240
@kayman-mk thanks for creating the issue.

[2020-07-20 19:39] npalm commented on #240
Reference to docs: https://docs.gitlab.com/runner/configuration/advanced-configuration.html#the-runnersmachine-section

[2020-07-23 11:44] npalm commented on #240
@kayman-mk I have create an implementation, needs to finish a bit of docs. Please feel free to have a look at PR #242

[2020-07-24 15:53] kayman-mk commented on #92
Oh yes, a feature I missed already. Guess no work is going on at the moment, right?

[2020-07-24 16:56] npalm commented on #92
Yep, no development is going on, feel free to create a PR

[2020-07-28 19:54] #155 closed

[2020-07-28 21:09] kayman-mk commented on #92
The EIP is assigned to the runner agent. #124 will not be solved here.
I will also offer the possibility to add a rule to a load balancer instead of assigning an EIP.

[2020-07-31 10:06] Glen-Moonpig opened #245 "Instance type recommendations"
I would be interested in recommendations for preferred instance types for different scenarios.

Up until now I have been using the general purpose (m4/m5) instances, currently 2xlarge, for compiling, testing and deployment jobs, but have recently found the spot capacity to be quite limited and the disk performance could be better.

I am now considering switching to c5.4xlarge for better CPUs and u

[2020-08-01 09:53] npalm commented on #234
@sjoerd-dijkstra I hope your issue is resolved, shall we close the issue?

[2020-08-02 12:05] #240 closed

[2020-08-02 12:51] #229 closed

[2020-08-02 12:51] npalm commented on #109
Due to no activity closing the issue

[2020-08-02 12:51] #109 closed

[2020-08-05 20:02] kayman-mk commented on #245
We are using m4.xlarge instances to build Java projects and haven't found any problems so far. Also we didn't discover any problems to buy the spot instances.

For terraform jobs we do not use spot instances as the terraform state might be damaged if a terraform job is cancelled in between.

[2020-08-05 20:49] Glen-Moonpig commented on #245
Thanks for you reply @kayman-mk. We used m4.xlarge for a while too but I think AWS were phasing them out in favor of the m5 types so we switched. We had a problem with a compatibility issue with m5 and NodeJS npx command which required a workaround.
We also have had some issue with terraform jobs being cancelled while running when spot capacity was low. We have had to build a self-service tool to

[2020-08-05 21:51] kayman-mk commented on #245
@Glen-Moonpig Yeah, we deploy the module twice: terraform runner and non terraform runner. The first uses on demand with 0 idle instances and the latter uses spot instances with some put on idle.

This way we make sure not to damage the terraform state file.

[2020-08-07 09:34] bonza commented on #234
Could it be related to [this](https://gitlab.com/gitlab-org/gitlab-runner/-/issues/4426) issue

[2020-08-10 09:20] sjoerd-dijkstra commented on #234
Thanks all for the help. Meanwhile we have went with EKS to host our runners. Read permission is only granted from the ECR side, and no extra policies are needed on the EC2 instances. We've configured the actual runners with `amazon-ecr-credential-helper` and the file `~/.docker/config.json` (also described in the issue mentioned by @bonza). No DOCKER_AUTH variable is set, as that part is covered

[2020-08-10 09:20] #234 closed

[2020-08-13 08:24] kayman-mk commented on #92
I reviewed my last comment and think that it makes no sense to add an IP or load balancer or something else. The reason is, that you should already been able to reach the runner from your gitlab instance (to start the build jobs).

[2020-08-13 08:46] kayman-mk commented on #214
I had this problem some days ago while updating the CI infrastructure. My terraform job suddenly died when the ASG was recreated. The lock on the state file was never released so I assume that the build was cancelled.

[2020-08-13 09:15] kayman-mk commented on #214
Let me detail @martinhanzik solution

Add an aws_autoscaling_lifecycle_hook (event: autoscaling:EC2_INSTANCE_TERMINATING). The event metadata is forwarded into a SQS queue. Trigger a lambda function which finds (via tags which have to be present in the autoscaling group as well) the associated runners and kill them.

What do you think?

[2020-08-13 11:00] kayman-mk commented on #214
@npalm Just tried it and killed the runner agent while a java build was running. The jobs on the runner are immediately cancelled and gitlab shows the job as "runner system failure". The docker container on the runner disappeared. So all jobs on the runner are cancelled.

Thus the only problem is to remove the runner instances as described above.

[2020-08-13 16:28] npalm commented on #214
Yepz the runners are not managed by terraform, the default exampls contains some scripting to cancel spot requests and instances during destroy. I do not have a good idea for a fix.

[2020-08-13 18:06] DavidGamba commented on #214
We are also facing this issue (though haven't put any time to fix it yet, everything else is working very well).

The additional piece of information is that the bundled script won't work for us because we have a multi account strategy and the box the script is running from is not in the same account as the target nodes, the script isn't taking a profile or role to assume as an argument so it seem

[2020-08-13 20:55] kayman-mk commented on #214
@DavidGamba Sorry, I didn't get it 100%. Which machines are running in different accounts?

We also have a multi account strategy. So the CI system runs in a different account as the product it builds. But the complete CI system runs in one account. So it should be possible to kill the runners when the runner agent is killed.

[2020-08-13 22:11] DavidGamba commented on #214
@kayman-mk the machine we run our terraform plan/apply is in a different account from the one the runners are running from.
So without a profile or assuming a role we can't kill the runners when the ASG gets rebuilt.

[2020-08-17 17:09] krzysztof-miemiec opened #246 "Support for multiple docker machines within a single runner instance"
I'm currently doing small research in order to migrate my current GitLab runner setup (done with CloudFormation, modified and updated by hand via SSH) to Terraform. I'm currently using a setup with configuration like this:

[code]

I defined multiple `[[runners]]` section in order to register separate runners for each Gitlab group (I can't register global runner in our company). A lot of improveme

[2020-08-18 20:53] npalm commented on #246
In my opinion it is not a bad practice at all to have multiple runners, we have as well. We have deployed the module a few times. To match different use cases, some of them ar dedicated to a team.

With Terrafomr 13 it should also be possible to loop over modules, so would it be an option to deploy the module one time for each time, the overad is in that case that you have 1 small ec2 instances fo

[2020-08-19 02:57] ado120 opened #248 "Help with runners_concurrent"
Hello! I am using the module and it is working great, just having some trouble understanding how it works..

I see that the default value for the runners_concurrent is 1, does this mean that only 1 pipeline can run at a time? On Kubernetes managed gitlab-runners the default value is 10. Any setback to setting it to a high number? If I have a pipeline that has multiple jobs in 1 stage, does that me

[2020-08-20 20:45] krzysztof-miemiec commented on #246
To try to avoid such cost overhead mentioned by you, I created proposal PR which should enable some cool stuff, like adding multiple different docker-machine configurations that run on spot. I'll check it tomorrow in practice on my side, please take a look and tell me what you think 😉

[2020-08-25 10:18] roock commented on #92
Afaik there is a difference between regular runner jobs and the session Server. For regular jobs, the runner will establish a http connection to the gitlab server. For the session server, Gitlab will establish a (tls-encrypted) connection to the runner, so you will need to expose the session service to Gitlab.

[2020-09-03 17:42] DavidGamba commented on #77
@npalm does this work when you have exactly the same tags for the multiple instances?
Or will GitLab be stuck with the instance it first picked until it times out?

[2020-09-03 19:09] npalm commented on #77
Not sure, guess the build will be picked by the runner that is polling first.

[2020-09-04 07:34] kayman-mk commented on #92
Oh yes, you are absolutely right. I will add options for an IP address and a load balancer.

[2020-09-04 08:02] roock commented on #92
The module already supports adding an EIP directly to the instance. Not sure if it is strictly required to put it behind a ALB, although it might be a more elegant solution.

[2020-09-04 09:48] kayman-mk commented on #92
@roock Yeah, just saw it. So nothing to do for the EIP. An ALB listener can now be passed to the module. But the test is still missing. The idea is to use either EIP or ALB. Depends on your preferences, company guidelines, ...

[2020-09-05 15:10] roock commented on #124
Assignment of EIP to the Runner server itself was added in #161 and #165. Not sure if it is possible to add support for EIPs for the docker-machine servers though.

[2020-09-06 11:55] npalm commented on #248
I will close the issue, feel free to re-open if the answer was not helpful or clear

[2020-09-06 11:55] #248 closed

[2020-09-06 12:27] npalm commented on #124
@roock seems not supported by the aws docker machine driver https://docs.docker.com/machine/drivers/aws/

[2020-09-06 12:34] roock commented on #124
A possibility would be to use the user_data to assign an EIP to the docker-machine instances.

[2020-09-09 17:27] DavidGamba opened #253 "Extract role and instance_profile into separate module"
The way to have a multiple spot instance types is to use multiple instances of the runner #77
Same if you want multiple availability zones #76

You now have two roles, runners and runners2 (from https://github.com/npalm/terraform-aws-gitlab-runner/blob/develop/examples/runner-public/main.tf).

The problem becomes if you want to give your runners access to ECR for example, you have to give access t

[2020-09-17 10:32] wojukasz commented on #230
I tried this approach and ` "%{http_code}"` needs `%%` to be validated by template ` "%%{http_code}"`

[2020-09-25 21:59] krzysztof-miemiec opened #254 "Logging is broken"
If you have enabled CloudWatch logging in runner agent, then spawning new instance gets stuck on awscli (boto3) error.

Related issues:
- https://github.com/aws/aws-cli/issues/5557
- https://github.com/boto/boto3/issues/2596

[2020-09-29 12:15] strowi commented on #214
Only starting with scaling gitlab in aws/terraform, but wouldn't it be possible to add a version-tag to the docker-machine runners and delete the instances by tag? #25

Similar to:
[code]

[2020-09-29 17:49] kayman-mk commented on #214
@strowi This is not possible as [instance_state](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/instance#instance_state) is readonly. But using tags to identify those machines is a good idea. But it needs an additional script, lambda or something else.

[2020-10-01 14:20] strowi commented on #214
@kayman-mk ah right, thx! I misread the [aws_instance-docs](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/instance#instance_state) about instance_state.

[2020-10-06 23:07] jessedobbelaere opened #259 "Add variable to disable detailed monitoring on the runner instance"
I noticed there is a variable `runners_monitoring` (default: false) available which can enable/disable detailed Cloudwatch monitoring on the docker-machine instances.

However, when checking the Terraform plan, the `module.runner.aws_autoscaling_group.gitlab_runner_instance` receives `EC2 detailed monitoring` enabled by default and I don't need detailed monitoring (not spinning up a critical stack

[2020-10-07 14:45] npalm commented on #259
Seems monitoring is by default enabled in the auto launch configuration (https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/launch_configuration#enable_monitoring). The auto scaling group is managing the gitlab agent, the runners are managed via docker machine and should have by default monitoring disabled.

To disable monitoring for the instance running in the scaling gro

[2020-10-08 20:19] #259 closed

[2020-10-08 20:45] npalm commented on #254
Still having the issue. I have no problems. Just verified a bunch of PR's all working fine including logging.

[2020-10-08 20:46] krzysztof-miemiec commented on #254
It only came up when agent instance was recreated and tried to pull faulty package with yum. I'm not sure if the issue still persists.

[2020-10-22 10:41] ermiaqasemi opened #262 "Gitlab runner for groups"
Hi

I wanna lunch the GitLab runner for my all the projects in the groups but when I add token group the runner does not appear on my runner list in GitLab but when adding project token it will be appear.

[2020-10-22 13:06] ermiaqasemi commented on #262
I found the problem :D

[2020-10-22 13:06] #262 closed

[2020-10-25 17:02] augustorosa opened #263 "Inappropriate value for attribute "id": string required."
Hi, I wonder if you can tell why this is happening. I am using terraform 0.12.29

Error: Incorrect attribute value type

  on ../../modules/aws-gitlab-runner/main.tf line 4, in data "aws_subnet" "runners":
   4:   id = var.subnet_id_runners

Inappropriate value for attribute "id": string required.

[2020-10-25 18:10] #263 closed

[2020-11-01 16:03] augustorosa opened #264 "Docker machine not launching properly in spot instances"
Hi, I used your modules and it all launches, well but when I target a build it does not build. it remains stuck on this "Preparing the "docker+machine" executor" and when i look logs, not much is there outside of this:

Nov  1 15:49:43 ip-172-20-112-240 gitlab-runner[12116]: Installing Docker...                              #033[0;m  driver#033[0;m=amazonec2 name#033[0;m=runner-wct6y7rn-runner-160

[2020-11-01 20:31] r33drichards opened #265 "shared bucket fails terraform plan with Invalid Function Argument"
I'm having an issue creating two runners with a shared cache bucket, when running terraform plan. No resources have been deployed yet. The full error message is as follows:

[code]

and my terraform is as follows:

[code]

I am basically going off the the default example, and trying to have two different runner instances types sharing a bucket. Not sure if this is a bug or if I screwed up my confi

[2020-11-01 20:47] r33drichards commented on #265
in the section that's erroring there seems to be a lookup occuring that defaults to a string

[code]

is there a reason to provide a default value here that I'm not aware of? If not I can submit a PR without that and I think that might solve the issue

[2020-11-02 03:20] augustorosa commented on #18
This is happening to me. Any clue how to resolve this.

[2020-11-03 03:02] r33drichards commented on #265
I can confirm that omitting the `lookup` worked for me after
[code]

using
[code]

pointing the module to my repo, and applying the bucket before the runners. I believe the bucket needing to be applied is a known issue since it was referenced  [in another issue](https://github.com/npalm/terraform-aws-gitlab-runner/issues/211)?

[2020-11-03 17:39] npalm commented on #264
Hard to see what goes wrong. Could you give it a try with a vpc with public and private subnets, see default example.

[2020-11-03 17:46] npalm commented on #265
Thanks for creating the issue. I also will check the public example since that one has the setup with one shared bucket. But looks the same as the config you posted.

[2020-11-11 16:37] skang0601 opened #267 "Allow Docker Machine agent to have extensible policies"
Rather than defining a policy attachment for the job instances after using declaring the module like so:

[code]

It would be more convenient for the module itself to accept a list of iam policies to attach to the docker machine role (especially for Terragrunt users)

[2020-11-12 16:07] bliles opened #268 "Variable docker_machine_role_json Sets Assume-Role Policy Not Role Policy"
The variables docker_machine_role_json and instance_role_json are described as "instance override policy" which would seem to indicate that these could allow us to set custom permissions for these policies. If our docker machine instances for example need to access IAM resources it would be helpful to be able to configure custom permissions for the docker machine.

However, these two variables do

[2020-11-21 03:44] augustorosa commented on #264
Ok. yes that was the solution. It does not work with public subnets only private. Probably a good thing to say in your docs. and I want to tell you, THANK You, your module is amazing and very helpful. Have a great end of the year and keep healthy.

[2020-11-21 03:44] #264 closed

[2020-11-21 03:45] augustorosa commented on #264
moved runners to private only subnets

[2020-11-21 11:15] npalm commented on #268
Docker machien only support the instance role https://docs.docker.com/machine/drivers/aws/ Will have a look later this week

[2020-11-23 20:33] npalm commented on #267
@skang0601 would you like to propose the change in a PR. As long we can keep the module backwards compatible the sugesion sounds good to me

[2020-11-24 13:52] bliles commented on #268
Yeah, I understand. I was mostly pointing out that the docker_machine_role_json variable might be unnecessary, since I don't think there's ever a reason we would need to override the assume role policy.

[2020-12-01 13:37] skang0601 commented on #267
@npalm CLosing this out looks like someone beat me to it on a PR :)

[2020-12-01 13:37] #267 closed

[2020-12-06 16:13] jessedobbelaere opened #270 "Support for Docker Hub registry mirror for rate-limited pulls"
While running some automation jobs in bulk on my Gitlab projects, I got hit today by the infamous new [Docker Hub Rate Limiting](https://www.docker.com/increase-rate-limits)...

[code]

There are some solutions to this problem:
* **Authenticate to docker hub**. Anonymously you get 100 container image requests per 6 hours, with an authenticated account you get 200 container image requests per 6 hou

[2020-12-09 06:40] Fuuzetsu opened #271 "Install the docker-ecr-credential-helper"
If we want to use docker-based executors and pull docker images from private ECR, we are likely to use https://docs.gitlab.com/ee/ci/docker/using_docker_images.html#using-credential-helpers with DOCKER_AUTH_CONFIG set. To make use of this, the appropriate credential helper needs to be installed: https://github.com/awslabs/amazon-ecr-credential-helper

With current EC2 setup, this is just `yum inst

[2020-12-09 07:29] Fuuzetsu opened #272 "docker_machine_role_json is not very useful"
This variable allows to change the `assume_role` of the created role for the docker machine:

https://github.com/npalm/terraform-aws-gitlab-runner/blob/920d9c7e1a03a46d99a4f64795eb1b786676b642/main.tf#L331

This isn't that useful, it's almost always just going to be what the template is already.

What _would_ be useful that is currently missing is to allow simple addition of custom policies to the

[2020-12-10 03:05] Fuuzetsu commented on #272
Having said that, it is still possible to add extra policies to the role that the module creates. For example:

[code]

[2020-12-10 07:19] Fuuzetsu commented on #222
You can work around it by setting the price yourself, something like

[code]

then get the value with `tonumber(values(values(jsondecode(data.aws_pricing_product.on_demand_job_instance.result).terms.OnDemand)[0].priceDimensions)[0].pricePerUnit.USD)`; of course that's annoying and you'll have to be updating this if price changes but it's better than some default 0.50

[2020-12-18 17:26] jfilhoGN opened #274 "Error in download module Cache"
I'm trying to use the cache module for my project, (example [runner_public](https://github.com/npalm/terraform-aws-gitlab-runner/tree/develop/examples/runner-public)), however at the time of `terraform init` it shows the error in the terminal.

Terraform Version: `Terraform v0.12.28`

Part of code:
[code]

Error:
[code]

Has anyone experienced this problem?
thanks in advance

[2020-12-18 18:12] jfilhoGN commented on #274
I resolved using the terraform documentation for [Module Sources](https://www.terraform.io/docs/modules/sources.html#generic-git-repository)

[code]

[2020-12-18 18:12] #274 closed

[2020-12-29 17:59] vikassach opened #275 "Manage docker version on runner instance"
Hi
We are using this module for some time now but recently around a month ago runner instances updated docker versions from 19.03 to 20.10.1 and this is causing us some issues. I am trying to find if there is a config which can tell gitlab runner which docker version to install.
Following is the config that we are using:
[code]
Thanks

[2021-01-04 10:25] Nightbr commented on #270
Hey,
it could be great to setup a Docker registry proxy and configure the runner to point on it. But sure +1 for this killer feature.

So far, I have my own workaround, I have a repository of all my base docker images (`my-org/docker-env`) and I use this simple `.gitlab-ci.yaml` script to build the images and publish them to the Gitlab registry.

[code]

I build one image per branch:

![image](htt

[2021-01-13 19:44] npalm commented on #275
At the moment the docker version of the runner agent is not configurable, docker is installed via a user data script, see https://github.com/npalm/terraform-aws-gitlab-runner/blob/develop/template/gitlab-runner.tpl  In your case it looks like your are using docker-machien and the docker version is provided via docker machine. Please feel free to suggest via an issue or PR any improvement that you

[2021-01-13 19:46] npalm commented on #271
Thanks, great suggestion!

[2021-01-13 19:51] npalm commented on #270
We use a proxy like artifactory, post of the builds points directly to the mirror. But on the runners we configure on system level the mirror for docker via `--registry-mirror`. Not ideal but it works all quite well

[2021-01-13 22:12] npalm commented on #237
Made some quick fixes in the pipelines. Try to find some time to refactory them based on hashicorp github action.

[2021-01-18 16:57] Glen-Moonpig opened #277 "'docker-machine: cannot execute binary file' error on startup"
Hello,

I have just updated to the latest release of the module (4.21.0), previously on 4.20.0.

The user data script is failing to execute to completion.
I think the script ends when it gets to [template/gitlab-runner.tpl#L39](https://github.com/npalm/terraform-aws-gitlab-runner/blob/2ccd3d8d6b5cb609c32c98d7b262c1530d638401/template/gitlab-runner.tpl#L39).

The log shows:

[code]

I have been loo

[2021-01-18 17:09] Glen-Moonpig commented on #277
I expect the docker-machine version is not compatible with the runner type as it appears to be compiled for ARM. How can I find a listing of docker-machine download URL's?

[2021-01-18 17:23] Glen-Moonpig commented on #277
Found a listing of docker-machine builds [here](https://gitlab-docker-machine-downloads.s3.amazonaws.com/master/index.html).

Added an input to the **terraform-aws-gitlab-runner** module
[code]

It now works with my instance types.

[2021-01-18 17:24] #277 closed

[2021-01-19 06:22] npalm commented on #277
I have updated the defaults to the gitlab matained one. This since this version is still maintained. Did not checkec impact for other architectures then the one in the default example.

[2021-01-25 16:47] RSchumacher13 opened #279 "User data script is failing over new PIP version"
Good evening,

* We can't deploy our runners anymore because of this w-e pip update. (21.0)
* We are using the latest tagged revision of this module.

The module's userdata seems to only download the latest pip stable version (it bumped up on the 25th of January) via this URI:
`https://bootstrap.pypa.io/get-pip.py`

See the error below (It didn't occur before the 25th of January) :
[code]

We are

[2021-01-25 19:46] npalm commented on #279
Problem is caused by the script for eip introduced in #161 and #165. Assigning eips is usefull for public subnets.

[2021-01-26 08:51] fpalluel opened #281 "Cannot set multiline build scripts"
Hello,
We are facing a problem when trying to set a multiline `pre_build_script`.

The generated `config.toml` is:

[code]
whereas it should be:

[code]

The problem lies in `runner-config.tpl`, where `*_build_script` declarations are enclosed in double quotes:
[code]

Do you think it is sensible to remove them, to allow both single and multilines scripts ?
I can make a PR if you think it is ;-)

[2021-01-26 13:32] npalm commented on #281
Feel free to make a PR, can you also add a simple script (pre or post for example with some echo statements) to the default example

[2021-01-27 14:48] fpalluel commented on #281
Done ;-)

[2021-01-28 01:07] JulianCBC commented on #277
The issue here is that the default runner agent machine type is a `t3.micro` x86 VM, but the docker-machine version in the defaults is an AArch64 one, hence this falling over if you "just" update without reading and understanding the changes made.

I guess that the default for one of these needs to be changed: either update the `t3.micro` default to an equivalent AArch64 machine type or update the

[2021-01-29 09:58] #279 closed

[2021-02-01 20:55] fliphess commented on #231
I will close this issue: It's not relevant anymore as it has been working perfectly since a few releases ago: After 4.19.0 or 4.20.0 this issue has not appeared anymore.  👍

[2021-02-01 20:55] #231 closed

[2021-02-11 15:02] trallnag commented on #262
@ermiaqasemi could you share the solution / what the issue was?

[2021-02-11 15:16] ermiaqasemi commented on #262
@trallnag Sure, in my case the issue was because of 2 reasons:

- I just figured out for setup runners at group level when you want to specify the gitlab URL project you must put a slash at the end of the URL otherwise it does not work.
- Also I forgot to allow internet connection for private instance at the routeing table in VPC setup.

After those are resolved everything works as expected.

[2021-02-11 22:29] trallnag opened #294 "User Data script is failing with TF script based on default example"
I'm trying to setup a very basic GitLab runner in AWS based on the default example. The runner agent is running but the cloud init script itself is failing. Here is the error from the system log:

[code]
Here is an excerpt from the cloud init log:

[code]

[2021-02-11 22:35] trallnag commented on #294
Here is the full TF script I'm using:

[code]

[2021-02-11 22:37] trallnag commented on #294
It seems like the problem starts with curl being unable to access a GitLab URL.

[code]

But I don't understand why. If I jump into the instance myself I can successfully curl https://packages.gitlab.com

Am I missing something?

[2021-02-11 23:03] trallnag commented on #294
Okay I have terminated the broken instance and then the ASG created a new one. Now the curl succeeds and the gitlab runner package gets installed. Pretty weird, maybe this has to do with the setup of the VPC?\

But now the next part in the user data is failing:

[code]

[2021-02-11 23:09] trallnag commented on #294
Okay probably related to this here https://github.com/npalm/terraform-aws-gitlab-runner/issues/277

[2021-02-11 23:16] trallnag commented on #294
works now

[2021-02-11 23:16] #294 closed

[2021-02-12 10:15] NikolaiGulatz commented on #78
I am experiencing the following, behaviour:

I am using a shared S3 cache for the runners. After deploying the runners for the first time, cache and cache extraction worked for the first 2 pipelines. For all subsequent pipelines however, cache extraction failed with:

[code]

Uploading the cache works, however. Any ideas?

[2021-02-16 10:16] trallnag opened #297 "Enhancement(IAM): Dynamic assume role for all IAM roles declared"
In the AWS accounts I work with a rule is enforced automatically that requires every IAM role to be assumable by a special IAM entity that is used for stuff like auditing. So to use this module I forked and adapted it.

Would it be worth it adding that to the module?

I do it with dynamic blocks:

[code]

[2021-02-16 11:51] #297 closed

[2021-02-16 12:37] trallnag commented on #272
Can't you just use `docker_machine_iam_policy_arns`?

[2021-02-16 16:57] trallnag commented on #272
Also it is useful for me because in the accounts I work with rules enforce that every role must trust a special entity used for monitoring and audit

[2021-02-16 19:42] stefan-kolb opened #298 "Problem using the shared cache solution with multiple runners (Invalid count argument)"
I'm trying to use a shared bucket (as in the examples) together with multiple runners created via `for_each` (not sure if this issue is also relevant without it but I guess so).

[code]

Applying this configuration results in an error:
[code]

Applying this config is only possible via:
`terraform plan -target=module.cache` first followed by a second `terraform apply`, because `lookup(var.cache_buc

[2021-02-17 10:53] Nightbr commented on #277
Hey same here with latest version `4.22.0` + `Gitlab runner 13.8.0` from a fresh setup.
The runner was not autoRegister (failed initScript) but the machine `t3.micro` was still running with green lights (on AWS).

Added  ` docker_machine_download_url = "https://gitlab-docker-machine-downloads.s3.amazonaws.com/v0.16.2-gitlab.10/docker-machine-Linux-x86_64"` to my module config and it works now.

Pe

[2021-02-17 12:33] trallnag commented on #268
@bliles, I don't agree with this statement. At my company (and probably we aren't the only ones), our AWS accounts all enforce that every role must trust a specific entity that is used for auditing and monitoring. Therefore I use `docker_machine_role_json` to set my own policy and add the additional trusted entity to it

[2021-02-17 12:35] trallnag commented on #186
A major version bump that throws out a bunch of deprecated stuff would be great

[2021-02-17 16:48] rtoma opened #299 "docker machine defaults to aarch64, best to make to autodetect?"
Wondering why the default `docker_machine_download_url` defaults to the aarch64 binary. Note the description mentions x64.

[code]

Maybe best to default `docker_machine_download_url` to `""` and add a default `docker_machine_version` value? That way the `template/gitlab-runner.tpl` will download the appropriate arch and code will work for more users. Thanks!

[2021-02-18 15:46] trallnag opened #302 "Question: Where are the docker+machine executor EC2 instances configured?"
I'm trying to understand the code base because I want to try to refactor / add a feature to manage multiple GitLab runner agents with ECS. I understand how and where the runner agent is configured. This also includes stuff like installing the SSM agent or setting up logging in the EC2 instances.

But what about the instances started and managed by Docker Machine? From what I understand vanilla Ama

[2021-02-18 16:06] rtoma commented on #302
See the `MachineOptions` array in the `[runners.machine]` section in https://github.com/npalm/terraform-aws-gitlab-runner/blob/8335e53fabfcd8f488c69441dc6b4dc1d9e4a642/template/runner-config.tpl#L38 - this includes the AMI, instance type, region, az, vpc id etc of the runners.

[2021-02-18 22:59] trallnag commented on #302
Alright thanks. So Docker Machine configures everything and there's no additional user data or so involved

[2021-02-18 22:59] #302 closed

[2021-02-21 22:46] trallnag opened #303 "Question: How to correctly give the runner IAM permissions?"
Just to make it sure I understand it correctly:

1. Give the runner instance role the right to assume a specific role `a`
2. Give the role `a` all the permissions I need

[2021-02-21 23:18] #303 closed

[2021-02-22 22:02] cmavromichalis opened #307 "4.22.0 - docker-machine install fails and config file has __REPLACED_BY_USER_DATA__"
Upgrading to 4.22.0 our runners would not register with GitLab. The config.toml file had

`token = "__REPLACED_BY_USER_DATA__"`

Looking in journalctl I see these errors:
[code]

If I login as root and try to run `docker-machine --version` I get the same error.
If I download the file I get the error as well
[code]

We reverted to version 4.20 and the problem vanished.

I think this change

[2021-02-23 22:30] npalm commented on #307
I have just deployed several times the default example to chack PR's. Docker machine was running withou an isse. Also checked the version.

[code]

In version 4.21 docker machine is switch to the GitLab version. Via the variables you can still enforce to use the default one.. If you set the variable `docker_machine_version` the gitlab version should be ignored.

Hope this will help

[2021-03-03 03:44] bishtawi commented on #307
I also ran into this issue and I think its the same underlying issue as what is being reported in https://github.com/npalm/terraform-aws-gitlab-runner/issues/299

Basically, the default value for variable `docker_machine_download_url` points to a `aarch64` binary (ARM 64) but the default `docker_machine_instance_type` is `m5.large` which is `x86_64` architecture.

Once I set `docker_machine_downlo

[2021-03-03 21:06] npalm commented on #186
fully agree, feel free to create a PR

[2021-03-04 18:39] npalm commented on #299
The default should point to the x64 versions, since the default is also m5.arge

[2021-03-04 18:39] npalm commented on #307
Agree, is a bug, for the short run we should update the default to the x64 one.

[2021-03-04 18:40] npalm commented on #299
I configure it always expicit like https://github.com/npalm/terraform-aws-gitlab-runner/blob/develop/examples/runner-default/main.tf so completely missed the bug

[2021-03-10 23:33] npalm commented on #281
closing, since it is solved

[2021-03-10 23:33] #281 closed

[2021-03-11 20:52] npalm commented on #271
solved via #311

[2021-03-11 20:52] #271 closed

[2021-03-11 20:57] npalm commented on #299
I will set the default URL to `https://gitlab-docker-machine-downloads.s3.amazonaws.com/v0.16.2-gitlab.2/docker-machine` So it supports the default settings

[2021-03-11 21:26] #299 closed

[2021-03-11 21:28] npalm commented on #275
Short update, we using sometimes dind to fix the version. Still having the issue?

[2021-03-12 10:09] mateuszkwiatkowski commented on #307
I also experienced this issue. Upgrade to 4.24.1 fixed it.

[2021-03-12 10:22] npalm commented on #307
Thx for testing. In case you have time feel free to submit a PR. Otherwise I will have a look in the weekend

[2021-03-30 18:06] florian0410 commented on #214
Hello guys,

I encountered the bug also even when using the example script https://github.com/npalm/terraform-aws-gitlab-runner/blob/develop/bin/cancel-spot-instances.sh

I saw it during destroy but it can occurs while updating ASG too , there is a small chance that before your main agent runner get removed/replaced, it spawns a Spot instance, since the cancel-spot.sh script is called before it is

[2021-04-01 07:55] vgropp commented on #298
this issue also exists without `for_each`

[2021-04-01 21:09] mateuszkwiatkowski commented on #18
I'm also seeing this issue. Region is ue-central-1. Everyting works fine in private networks but it's broken after switching to public. I see the same message in log:
[code]

I see that similar issue was reported few times already: https://github.com/npalm/terraform-aws-gitlab-runner/issues/229, https://github.com/npalm/terraform-aws-gitlab-runner/issues/15
My terraform config is slightly modified

[2021-04-01 21:40] mateuszkwiatkowski commented on #18
I fixed this by disabling `runners_use_private_address`:
[code]

[2021-04-16 16:09] strowi commented on #231
For future reference:
Since i ran into the same error message and it took me the better half of the day:
`gitlab_runner_registration_config["maximum_timeout"]` needs to be >= 10 minutes. (had a typo setting it to 300)
Found this error when debugging the registration curl-command.

[2021-04-30 09:08] florian0410 opened #315 "Tags not being applied on somes resources"
Hello, I realized that some resources created by this module are not tagged using the tags variable, I'm listing these here:

https://github.com/npalm/terraform-aws-gitlab-runner/blob/8b15241b34c87d7b21c7a14fddf7d0b84f750f1b/main.tf#L260-L263

https://github.com/npalm/terraform-aws-gitlab-runner/blob/8b15241b34c87d7b21c7a14fddf7d0b84f750f1b/main.tf#L341-L344

https://github.com/npalm/terraform-aws

[2021-05-04 00:56] LilDrunkenSmurf opened #317 "Runner fails to register"
Hi there, I'm running into an issue where the runner fails to register on a modified `runner-default` example. I can SSM into the instance, and manually register it, and the config.toml looks good, but the cloud-init logs (and the status) show this:
[code]

I'm really not sure where to troubleshoot. I've made occasional tweaks here or there, and sometimes it auto-registers no problem, but just doi

[2021-05-04 21:23] npalm commented on #315
Thanks for reporting

[2021-05-04 21:25] npalm commented on #317
Thanks, will run a check next days.

[2021-05-07 11:32] npalm commented on #315
- tags not supported for aws_iam_role_policy since this only create a inlince policy for the role
- Requires upgrade to aws provider 3.35

[2021-05-11 21:43] #315 closed

[2021-05-14 21:22] pierlucg-xs opened #320 "Unable to pull ECR images using docker-ecr-credential-helper"
I'm using the following config to enable the use of `docker-ecr-credential-helper`:

[code]

Now if I try to use an ECR image to build using the runner, I get the following:

[code]

I tried assuming the EC2 instance's role and pulling from the ECR registry using that role and it worked fine.

What am I missing?

[2021-05-17 06:49] james64 opened #321 "Add user_data output"
Hello,

in our setup plan always shows `user_data` are to be changed even after same config was just applied. Value from config indeed seems to be the same as one we see in launch_configuration in aws console. We are unable to see what terraform thinks is a new updated value. Plan does not show whole value only its hash.

Is there any way how to see whole value of user_data? If not I would like to

[2021-05-17 08:16] guillemtp opened #322 "Spot instances over multiple AWS Availability Zones"
Hi!

Is there any option to configure the same GitLab Runner agent to use multiple AWS AZ on spot instances?

Thanks

[2021-05-18 15:11] florian0410 commented on #315
Tested on my side.

Sounds good to me. Thanks !

[2021-05-18 15:46] pierlucg-xs commented on #320
This is probably an issue from Gitlab-runner, but this is what I had to do to get it to work:

[code]

[Gitlab's documentation](https://docs.gitlab.com/ee/ci/docker/using_docker_images.html#use-credential-helpers) states that setting `DOCKER_AUTH_CONFIG` to
[code]

should work for all ECR registries, but that did not work for me at all. Hopefully this helps someone.

[2021-05-18 15:46] #320 closed

[2021-05-19 20:19] omerxx commented on #317
Experiencing the same!
Any ideas?

[2021-05-19 20:24] LilDrunkenSmurf commented on #317
I found a workaround. I read a comment somewhere in the documentation about only needing the runner token once, so the first run, I specify `runners_token` when calling the module for the very first time, and comment it out going forward, as it's stored at that point. If you've already tried, you need to essentially destroy any module calls (and all related infra), like the SSM params, and any reg

[2021-05-19 20:40] omerxx commented on #317
@LilDrunkenSmurf Thanks for the quick answer!
ATM after destroying everything the parameter store stays `null` and the runner starts with the default `__REPLACED_BY_USER_DATA__` token. Kind of clueless of what went wrong at that point

[2021-05-19 20:46] LilDrunkenSmurf commented on #317
Blow away the param store entry, make sure you include `runners_token` on the first run, and then comment it out after the infra's been stood up.

[code]

[2021-05-19 21:05] omerxx commented on #317
Thanks @LilDrunkenSmurf !

[2021-05-21 13:21] fliphess commented on #298
You can work around it by creating the cache first and the runners after it.

[2021-05-22 09:06] vgropp commented on #298
yes, that does work, but we had a non shared cache with a runner module and tried to introduce a second runner with a shared cache for both, so we had to remove the old runner with non shared cache

[2021-05-25 20:54] LilDrunkenSmurf commented on #270
Ran into this issue today, looking to setup pointing at the ECR. I was hoping it'd be as easy as passing IAM permissions to either the runner, or the machine, but I haven't had any luck with that, so I'm investigating installing ecr credential helper.

How are you pointing directly at the mirror?

[2021-05-26 20:42] npalm commented on #322
Yes, just provide a subnet for each zone, instances should be started (guess random) over your zones.

[2021-05-27 10:12] guillemtp commented on #322
In which module attribute should be defined?

The attribute `subnet_id_runners` is only for one subnet.

[2021-06-01 17:06] pierlucg-xs commented on #322
I don't think this is possible at the moment: https://docs.gitlab.com/runner/configuration/runner_autoscale_aws/#:~:text=If%20not%20specified%2C%20the%20availability%20zone%20is%20a%2C%20it%20needs%20to%20be%20set%20to%20the%20same%20availability%20zone%20as%20the%20specified%20subnet%2C%20for%20example%20when%20the%20zone%20is%20eu-west-1b%20it%20has%20to%20be%20amazonec2-zone%3Db

[2021-06-14 20:35] weslarkit opened #329 "Package name for gitlab has changed"
`curl --fail --retry 6 -L https://packages.gitlab.com/install/repositories/runner/gitlab-runner/script.rpm.sh | bash yum install gitlab-runner-${gitlab_runner_version} -y`

The above name gitlab-runner-XXX is not valid running with Amazon Linux as the package is named gitlab-runner.x86_64

[2021-06-16 12:16] nikola197 commented on #329
GitLab resolved package name issue.

[2021-06-16 14:39] r33drichards opened #330 "Terraform version 1.0 support"
https://www.hashicorp.com/blog/announcing-hashicorp-terraform-1-0-general-availability

terraform version 1.0 has been announced. Would be great if this project could support it. I should be available next month to contribute changes so creating and issue here to centralize info related and stuff that should be done.

[2021-06-17 20:08] npalm commented on #329
So we can close the issue?

[2021-06-17 20:12] weslarkit commented on #329
Definitely, feel free to close and thank you

[2021-06-28 08:44] Nightbr opened #332 "Warning Deprecated Resource"
Hey,

seems there is a warning on Deprecated Resource with Terraform 1.0.1

[code]

Instead of using `data "null_data_source" "tags"`  we should use `locals {}`.

Add to that I know a really good module to manage tags in Terraform: https://github.com/cloudposse/terraform-null-label

[2021-07-02 11:25] kayman-mk opened #333 "Add role_tags variable: Tag based resource access"
We usually use tag based resource access (especially if the resources are in a different accounts). For this you have to add a tag to the iam_role.
[code]
Add the moment it is not possible to add a tag to the iam_role only. I know that I can set the `tags` but this adds the tag to nearly all resources which is not needed.

I propose to add a `role_tags` variable. Those tags are attached to the iam

[2021-07-03 08:15] kayman-mk commented on #330
Could you please give some more details here? At least the plan was generated with Terraform 1.0

[2021-07-03 09:17] kayman-mk commented on #322
As a workaround you could spin up agents in different AZs. It's almost the same.

[2021-07-08 19:42] npalm commented on #330
For some reason CI jobs seems also failing for 1.x

[2021-07-08 19:54] #330 closed

[2021-07-08 21:03] #333 closed

[2021-07-08 21:03] #332 closed

[2021-07-08 21:04] #329 closed

[2021-07-09 16:07] cmbailey87 opened #344 "Autoscale Runner set to spot instance instead of default lifecycle"
I noticed that the EC2 created from the launch configurations is default pricing and not a spot instance. But the subsequent docker machines that are created for running Gitlab pipelines are able to be configured as spot instance.

Is there away in the configuration that allows the main EC2 created to request spot instance instead of the default lifecycle.
thanks in advance.

EC2 created from laun

[2021-07-09 22:26] npalm commented on #344
The instance create in the launch group is running the agent, the agent starts the docker machines as spot instances. By default this instance in non spot, by setting this var `runner_instance_spot_price` a spot instance for the agent ill be created.

[2021-07-14 20:44] cmbailey87 commented on #344
I will give this a try, thank you

[2021-07-14 23:47] cmbailey87 opened #345 "Increase size of EBS on Docker Machine"
Hey all, search through the docs and found where I can increase the size of the gitlab runner, but I need to increase the size of the EBS on the docker machines. It looks like it currently defaults to 16GB and I would like to go beyond that level.
I wasnt able to locate any information on this in the documentation.
An information you can provide will be insightful
thanks

[2021-07-15 07:50] kayman-mk commented on #345
There is a docker_machine_option you can use when creating the module: `docker_machine_options           = ["amazonec2-root-size=32"]`

[2021-07-15 12:41] cmbailey87 commented on #345
is there any documentation that details on the available options under the docker_machine_options that you can point me to?
thanks in advance.

[2021-07-15 13:59] cmbailey87 opened #346 "Experiencing error code 137 with EC2 runners"
So I ran some pipelines from gitlab and everything ran successfully.
I redeployed my ec2 gitlab runners, and am now experiencing error code 137 from the docker machine runners.

I had tried increase the size of the ec2 instance  ( t3 small, medium , and large ) and tried increasing the storage 16/32/40 and even 100GB... but nothing seems to be getting by this issue.

has there been an update that

[2021-07-15 17:46] cmbailey87 commented on #346
Looks like I figured out the issue..
In the latest version 4.26.0, the runner is being configured and upgrade to a gp3

This seems to be breaking my pipelines. I pinned my versioning to 4.25 since this version defaults to gp2.
is there an option in the config to change runners to gp2 instead of gp3..
![image](https://user-images.githubusercontent.com/26728086/125833569-54399884-c357-4b83-9eb6-fca2

[2021-07-17 21:42] kayman-mk commented on #345
Check out https://docs.docker.com/machine/drivers/aws/

[2021-07-18 09:00] kayman-mk commented on #346
Did you check this? May be the docker version was also increased and needs more memory now.

[2021-07-19 18:06] cmbailey87 commented on #346
@kayman-mk
I considered that an option aswell, but I am not sure how to directly increase the docker machines ram.

What I did was increase my EC2 instances type.... which , by Doing that, automatically increases the available ram for the ec2.  the Ec2 itself that i tried were ( t3 small, medium , and large )  2/4/8/and 16 GB and ram on the EC2 and they all failed with the same docker error code 1

[2021-07-21 17:43] npalm commented on #344
Assume it all works, closing the issue. Feel free to re-open

[2021-07-21 17:44] npalm commented on #345
assume issue is resolved, closing

[2021-07-21 17:44] #345 closed

[2021-07-21 17:45] npalm commented on #346
I will check, still having the issue?

[2021-07-21 18:06] cmbailey87 commented on #346
I version pinned the gitlab runner module to version 4.25.0, the previous version.
So far that is getting me by just fine.

I would like be to able to use the latest version... is there an option to set the runner EC2 root image to a gp2 instead of gp3 during the runner deployment? So that I can test and filter that out as the possible issue with version 4.26.0

[2021-07-21 21:10] npalm commented on #346
Yes you should set:

[code]

[2021-07-23 08:49] mericano1 opened #350 "EC2 instance type"
Is there any particular way to pick the runner image / architecture / instance type ? I would like to have some AMD and some ARM64 runners. Is that possible ?

Thanks

[2021-07-27 19:54] npalm commented on #350
The runners are just plain ec2 instances managed via docker-machine (legacy). Once you are able to launch via docker-machine ARM instances, it should be no problem.

[2021-07-30 11:51] mericano1 commented on #350
Hi Nick, thanks for your reply. I found the issue was actually with the helper image. I had to add (terraform file)

[code]
to the configuration to make it work. Would be good to document that maybe ?

Thanks

[2021-07-30 11:52] mericano1 commented on #350
Hi @npalm - thanks for getting back to me.
Any idea of where I'd configure those in the terraform files ?

[2021-08-14 11:56] KTamas commented on #320
@pierlucg-xs thank you so much for this, i've been tearing my hair out why this wasn't working on our hosted runners until i came across this and fixed it

[2021-08-18 18:16] dsalaza4 commented on #214
I am trying to implement a fully reproducible CI with N runners where each runner is recreated on a daily basis.
This is currently the biggest issue I have in order to achieving complete reproducibility,
as every time I recreate a runner, many workers are left orphaned.

[2021-08-23 17:04] dsalaza4 commented on #214
@npalm What do you think about implementing a `uuid` tag for a runner and all its associated workers, so we can easily identify all workers belonging to a runner. this would allow us to execute a cleaning job every time a runner is either replaced or destroyed.

The only downside I can see with this approach is that jobs inevitably fail once the runner shuts down, although this is already happenin

[2021-08-25 04:25] jrr opened #357 "dind docker builds: how to make it work like GitLab shared runners?"
We're using a runner based on the [runner-default](https://github.com/npalm/terraform-aws-gitlab-runner/blob/develop/examples/runner-default) example, and overall it's been great: we're able to run most* of our builds on it, and they run much faster than they did on the GitLab shared runners we were using before.

The jobs we're not yet running on the EC2 runner are those that perform Docker build

[2021-08-29 22:28] mocart2 opened #361 "using exiting vpc, subnets and SG"
i already have vpc, subnets and security group, how i can use it? i tryed to set at default code exitng subnets,
[code]
but terraform plan show me will be create new VPC:
[code]
thanks

[2021-09-01 15:58] akdj opened #363 "need `name_iam_objects`in public example"
[code]

I think you need add this key in the example and also in the project readme

[2021-09-01 16:16] akdj opened #364 "How to forward Gitlab CI/CD env vars to the Gitlab spot runners?"
How to forward Gitlab CI/CD env vars to the Gitlab spot runners?

When I run a pipeline, I saw that there are some throw errors about my Gitlab CI/CD env vars that are empties.

Could you please help me? Is there an option that should I enable for forwards them?

[2021-09-02 12:04] akdj opened #365 "how to ssh on gitlab runner EC2 machine?"
I don't know why, I cannot ssh on the machine with a key that I pre-generated and stored on AWS.
I used the   `ssh_key_pair = var.my_key_name` when building the gitlab runner machine.

[2021-09-03 14:01] mateuszkwiatkowski commented on #317
I'm facing the same issue and I don't have `runners_token` specified but I do have `gitlab_runner_registration_config` and it requires `registration_token` to be specified. In result the token is written directly from terraform into the `config.toml` instead of value retrieved from Gitlab or parameter store in this file: https://github.com/npalm/terraform-aws-gitlab-runner/blob/master/template/git

[2021-09-06 06:16] strowi commented on #317
same issue as @mateuszkwiatkowski . It seemed to work the first time, but after re-deploying the registration_token ist used directly as token in the runner.

[2021-09-06 10:00] welderpb opened #367 "S3 cache BucketLocation"
Hello,

i have gitlab runner in one region region. And i have S3 bucket with cache in another region..
How can i specify BucketLocation region?
it is always overwriting with region of gitlab runner..

Thank you.

[2021-09-09 06:19] narenaryan opened #368 "Severe security vulnerability scanned by ScoutSuite on runner agent policy"
Hi,

We are using `terraform-aws-gitlab-runnner` to spin up GitLab runners on our AWS account. As part of security auditing, there was a severe alert raised on this policy created by terraform module: https://github.com/npalm/terraform-aws-gitlab-runner/blob/develop/policies/instance-docker-machine-policy.json#L21

The problem lies with permitting `IamPassrole` action on all resources. As per Acce

[2021-09-10 20:44] xxxperimental commented on #363
Yes please

[2021-09-13 13:50] jeffqumata commented on #363
+1 this seems to be a breaking change between `4.29.0` and `4.30.0`

[2021-09-21 08:12] akdj commented on #364
Is there anybody?

[2021-09-21 08:12] akdj commented on #365
Is there anybody?

[2021-09-29 03:16] ryancausey opened #371 "Unable to remove runner when assuming role"
Currently, when using an [assume role configuration](https://registry.terraform.io/providers/hashicorp/aws/latest/docs#assume-role) on the AWS provider, this module cannot unregister the runner due to the remove-runner.sh script not assuming the same role assumed by the AWS provider. This leads to the AWS CLI call using the wrong role to try to pull the token value from the SSM parameter store.

I

[2021-09-30 07:15] kayman-mk commented on #365
Have you tried the SSM feature? Select the machine in the AWS Console and click connect. We dropped the SSH support on our runners.

[2021-09-30 18:31] kayman-mk commented on #368
Have you tried to remove this action and see what happens?

[2021-09-30 18:37] kayman-mk commented on #367
That's not possible at the moment as we are using one provider only.

Could you elaborate on why it makes sense to put the cache in another region? Should be faster to use the same region, I think.

[2021-09-30 18:39] kayman-mk commented on #364
There is nothing special with spot/non spot instances. All Gitlab CI/CD environment variables are available for all type of runners. Could you share some log files and job outputs?

[2021-09-30 18:43] kayman-mk commented on #222
I think there is no need to do anything, right? You specify the maximum price you are willing to pay. If the current spot price is less, you get charged the lower price. If the current spot price is higher, you will not get a machine.

[2021-10-01 00:09] Fuuzetsu commented on #222
The runner forces you to provide a value otherwise it defaults to $0.50. This default isn't very useful, it's just a random number that doesn't reflect instance type(s) you've chosen: if you're using large instance type, you're never going to get it for $0.50.

So you're forced to pick a number at the moment and the most common scenario is to accept up to the on-demand price: as you say, the spot

[2021-10-01 08:34] narenaryan commented on #368
@kayman-mk, functionality-wise, nothing happened on our side. Let us confirm from your run.

[2021-10-01 12:41] kayman-mk commented on #368
I'd like to try it again on monday as I updated to 4.30.0 and removed the IamPassRole. I had some troubles with the agents not being able to create the runners. Might they need this policy to pass the role to the runner (not 100% sure what this policy is good for)?

[2021-10-01 14:45] npalm commented on #361
The examples contains the VPC, you can simply remove the VPC module and pass the required variables of you own VPC into the module.

[2021-10-01 14:45] #361 closed

[2021-10-01 14:46] npalm commented on #363
Should not be breaking, will check asap

[2021-10-01 14:47] npalm commented on #365
We also use SSM if needed

[2021-10-01 14:49] npalm commented on #368
From the top of my head the IAM pass role is required on the agent instance to pass the role to the docker machine instances.

[2021-10-04 07:20] kayman-mk commented on #368
Niek, I think so too. Had some problems to get the runners started without the iam:PassRole policy.

[2021-10-05 18:29] kayman-mk commented on #363
Had the same problem during upgrade. Adding it fixes the issue.

[2021-10-05 18:36] kayman-mk commented on #350
Have you checked https://github.com/thejohnfreeman/ami-gitlab-runner ? You could choose the M6g instance type.

[2021-10-14 07:19] kayman-mk commented on #124
Is it really necessary to expose the runners? You could also access your machines via AWS Console (SSM access). Seems to be easier to configure and less risky.

If we are talking about the agent: There should be an inbound rule which allows traffic from your Gitlab instance only.

We should be fine without an EIP at all or do I miss something? Any other use case?

[2021-10-14 07:49] kayman-mk commented on #186
@npalm As we always have to store the token somewhere: Which option should be removed (you are referring in your first post)?

[2021-10-14 11:49] kayman-mk commented on #213
`enable_asg_recreation` is the correct choice. `enable_forced_updates` will be removed with #387

[2021-10-14 11:54] kayman-mk commented on #210
As the link to the Gitlab documentation is no longer working, try out this one: https://docs.gitlab.com/runner/executors/docker.html

Solution is either use one of the scripts above or the Gitlab scripts I mentioned.

[2021-10-14 11:58] kayman-mk commented on #253
I also discovered this after changing to 3 AZs. Wouldn't it be easier to create the role/profile yourself and pass it to the module? Then the module can add the policies needed. @npalm What do you think?

Or even better: Add multi AZ support to the module and handle all the stuff internally.

[2021-10-14 13:49] kayman-mk commented on #270
@npalm Could you please share your solution? Where to put the "--registry-mirror" option?

[2021-10-14 20:47] kayman-mk commented on #222
Ok, I tried this approach. Filtering the location with `aws_region.name` is not working for Europe as "EU Frankfurt" is expected and not "Europe (Frankfurt)". Any idea?

[2021-10-15 20:17] joshbeard commented on #214
My apologies for the repeated messages on this thread - didn't realize every time I rebased and pushed my branch to my fork with a commit message that linked to this issue that it'd link up here. :)

I've submitted https://github.com/npalm/terraform-aws-gitlab-runner/pull/392 that uses a Lambda function to terminate 'orphaned' instances when the instance in the ASG is terminated/refreshed. I've be

[2021-10-17 14:25] kayman-mk opened #393 "Backport features from forks"
Just a list of forks which implemented some features which were not backported (but check this carefully. I had a rough look only.)

Create issues/PR out of the commits from the following forks and close this ticket then.

https://github.com/mbluemer/terraform-aws-gitlab-runner

- [x] https://github.com/libri-gmbh/terraform-aws-gitlab-runner
- [x] https://github.com/illagrenan/terraform-aws-gitlab

[2021-10-18 12:28] kayman-mk opened #394 "Add a cost estimation for this module"
Idea: To get an overview about the costs for typical setups. Add the details of the setup to the README.md

I will add an example for Hapag-Lloyd:

- number of developers using the Gitlab Runner
- number of instances min/max
- idle time
- working hours
- costs per business day

I guess other companies are using this module as well? Philips? Libri?

[2021-10-18 19:35] kayman-mk commented on #393
[engine-registry-mirror](https://github.com/illagrenan/terraform-aws-gitlab-runner/commit/b36e500b35ec0e49ae07ab00e1359ad96433bff9)

[shared cache](https://github.com/erback/terraform-aws-gitlab-runner/commit/3100e3735731d77880375126c540cb87f109a0a7)

[mount /builds](https://github.com/DNXLabs/terraform-aws-gitlab-runner/commit/7bf10797e32a32bd553bb31258c4553c21d28081)

[2021-10-19 21:25] #363 closed

[2021-10-19 21:59] npalm commented on #365
I have to dive in this topic in detail. From the top of my head the runner supports
- provide you own key
- generate a key for you (if still supported, this should be dropped in my opinion)
- SSM, should by default choice, and disabled by default. The default should be no access at all.

[2021-10-21 20:06] kayman-mk commented on #307
4.35 is working without problems here.

[2021-10-22 02:52] narenaryan commented on #368
Hi @npalm, sorry for the delay, I am on vacation now. I will pass this to my team to get the role re-scanned.

[2021-10-25 22:06] cmavromichalis opened #398 "Occasionally EC2s are left in a Stopped state"
I've noticed that as I update the GitLab runner versions occasionally there are EC2's in a Stopped state. I have to manually delete these when running the terraform as the terraform won't destroy EC2's in a Stopped state. I haven't been able to root cause why they are put in a stopped state or any kind of pattern for why. It seems to just happen randomly and infrequently.

My scenario is the GitLa

[2021-10-29 09:33] chiaminchuang opened #399 "Different AMI for runner instances under a runner manager"
Is it possible to use different AMI to create runner instances under a runner manager?
For example, we can trigger the runner manager to create ruby-env runner, nodejs-env runner, and python-env runner based on tags or labels. Or we can just create multiple runner managers for each different AMIs runner instance?

Thank you.

[2021-10-30 05:29] chiaminchuang commented on #399
Thank you so much.

[2021-10-30 05:29] #399 closed

[2021-10-30 07:35] kayman-mk commented on #398
I didn't find any special settings in my configuration. Do you have log files available?

[2021-10-30 07:56] kayman-mk commented on #270
@alexout Yeah, that's the configuration I am using too.

[2021-10-30 08:26] kayman-mk commented on #270
Launching a Docker registry mirror is out of scope. But making the configuration explicit would be nice. See #400

[2021-10-30 12:51] kayman-mk commented on #393
Checked all forks on Oct 15, 2021

[2021-10-31 08:25] kayman-mk commented on #371
I think so too. As the script is quite easy we could try to use the [fmontezuma/restapi](https://registry.terraform.io/providers/fmontezuma/restapi/latest/docs) provider.

[2021-11-02 13:14] johnnason opened #403 "Can not seem to update "maximum_timeout""
I've updated my terraform to specify an increase in `maximum_timeout`, up from 3600 to 24 hrs (86400).

I've applied my terraform, and I do see that the runner-agent gets recreated.
I've analyzed the launch configuration, and I see the following:
[code]

I can see the line `--form "maximum_timeout=86400"` in the launch config.

However, the runner in the gitlab ui still reports "Maximum job timeou

[2021-11-03 19:15] kayman-mk commented on #403
Have you checked https://docs.gitlab.com/ee/ci/runners/configure_runners.html as there are several location where the timeout can be set?

[2021-11-03 19:33] johnnason commented on #403
Thanks for the suggestion @kayman-mk - this is the runner timeout itself, which will take precedence over anything else:
![image](https://user-images.githubusercontent.com/12417878/140180125-0b557ccf-0770-4e66-ae55-0451736d6d74.png)

[2021-11-03 21:15] kayman-mk commented on #403
Hm, did you deregister the runner before you did the update? I guess the token is retrieved once and then placed in the SSM parameter. Thus changing these values will work after deregistration only, right?

The easiest way is to do it in Gitlab. Delete the runner on the CI page, terminate the EC2 instance and it will register again. I never did it via SSH.

[2021-11-05 18:42] npalm commented on #403
Still having the problem? We use our runners with the default so don't use the parameter

[2021-11-05 19:14] johnnason commented on #403
Well, yes and no @npalm.

I've gotten around it so it's not a serious issue for us at the moment. The gitlab ui fooled me, in that if you view the details of a runner you can not edit them (the `1h` timeout was immutable), but there is a gesture on the right side of the runner list where you can edit the details. Using that I was able to override the runner timeout.

There is still the open issue

[2021-11-05 22:40] kayman-mk commented on #403
@johnnason I hit these problems too.

As far as I remember there is a null resource in the code which should trigger the deregistration (main.tf line 24). Could you make a list of all variables which are tightly coupled to the registration. We could add them to the teigger section to force the deregistration.

[2021-11-09 16:23] cmbailey87 commented on #346
requesting to leave this issue open a bit longer, I will be testing this out in my environment in a few weeks.
many thanks

[2021-11-10 18:27] cmavromichalis commented on #398
I have looked through the EC2 logs but havent found anything that jumped out at me. Are there specific logs that would help?

[2021-11-10 21:51] #393 closed

[2021-11-10 22:01] npalm commented on #371
Yes PR looks ready, @kayman-mk please can you remove the draft state once ready.

[2021-11-10 22:02] npalm commented on #398
We also didn't see this behaviour

[2021-11-10 22:04] npalm commented on #364
Looks like the issue resolved, can we close the issue?

[2021-11-10 22:10] akdj commented on #364
Hi, I didn’t resolve the issue. But yes, we can close it. I will reopen when I will rework on it

[2021-11-10 22:10] #364 closed

[2021-11-10 22:32] npalm commented on #322
Also having 2 deployments

[2021-11-12 15:04] kayman-mk commented on #394
@npalm @PirminTapken Any chance that you can also add some cost insights?

[2021-11-12 16:35] #371 closed

[2021-11-13 10:44] kayman-mk opened #405 "Harmonize the wording for Runner and Executor"
Sometimes the Runner is named "agent" or "coordinator" and the Executor appears as "worker" or "runner instance". According to the [Gitlab documentation](https://docs.gitlab.com/runner/) we have Runner and Executors only.

We should harmonize the wording in all files to adhere to the official wording to avoid misunderstandings.

[2021-11-13 10:45] kayman-mk commented on #398
This will be indirectly solved by #392

[2021-11-13 14:36] kayman-mk commented on #405
@npalm There are so many variables dealing with the runner and others dealing with the executor. It might be better to create a map of them to clean the configuration:
[code]

[2021-11-13 14:46] kayman-mk opened #408 "CloudwatchAgent on executors"
### Discussed in https://github.com/npalm/terraform-aws-gitlab-runner/discussions/347

<div type='discussions-op-text'>

<sup>Originally posted by **npeyrussie** July 21, 2021</sup>
Hello,

I am looking for a way to install CloudwatchAgent on the executors.
I seems that `userdata_pre_install` and `userdata_post_install` only apply to the runner and not to the executors.

What type of detailed moni

[2021-11-13 14:47] kayman-mk commented on #408
Seems to be a valid use case to me.

@npeyrussie Any chance to implement it here?

[2021-11-14 10:22] npalm commented on #405
@kayman-mk agree but as you can understand it is grown over time (5 years or so). The idea is to provide reasonable defaults but give users the option to fine tune. Also I took great care of keeping the module as much as possible backwards compatible, refactoring to objects or maps will give most likely users some hard time to upgrade.

For other modules I also had a look on this approach, but wha

[2021-11-14 11:49] kayman-mk commented on #405
Yeap, that is really a problem in Terraform.

[2021-11-14 11:49] #405 closed

[2021-11-16 09:51] npeyrussie commented on #408
Hello,

Using version 4.24.1 of npalm/gitlab-runner/aws, I succeeded in configuring cloudwatch agent using :

[code]

And a dirty post install script as is :

[code]

Regards.

[2021-11-18 22:27] npalm commented on #394
It is quite hard, costs are depend on type of load and type of instance. So sharing does not much so much sense. We are able to handle roughly 10K jobs a month with max 10 runners of a medium type

[2021-11-19 06:14] kayman-mk commented on #394
Yeah I know. But for Newcomers it's always hard to guess the costs. So I took our costs of one week divided by 7 and added some details about the setup.

[2021-11-19 10:34] fliphess commented on #210
And if required, the cache cleaner script is here (the url has changed):

https://gitlab.com/gitlab-org/gitlab-runner/-/blob/main/packaging/root/usr/share/gitlab-runner/clear-docker-cache

[2021-11-20 03:41] keatmin commented on #357
Hey @jrr I faced the same thing and this [issue](https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27300) solved it for me!

[2021-11-23 11:25] hntrmrrs opened #409 "Cache policy attached to runner instead of docker machine instance"
https://github.com/npalm/terraform-aws-gitlab-runner/blob/3ea16b04df7129c813f46cdcbf42aba3da90e65a/main.tf#L406

If docker machine runners are used, I believe this should be attached to the docker machine instance role instead.

[2021-11-24 08:35] kostyanius opened #411 "Can not assign subnets during execution "terraform plan""
Error: Variables not allowed
│
│   on <value for var.subnet_ids_gitlab_runner> line 1:
│   (source code not available)
│
│ Variables may not be used here.
╵
╷
│ Error: No value for required variable
│
│   on variables.tf line 27:
│   27: variable "subnet_ids_gitlab_runner" {
│
│ The root module input variable "subnet_ids_gitlab_runner" is not set, and has no default value. Use a -var or
│ -var-fil

[2021-11-25 03:06] robpearce-flux opened #412 "http_proxy support missing"
it'd be good to get support for http_proxy on outbound connections, for pulling the packages, and for the runners connecting back to the git instance.

[2021-12-01 23:28] npalm commented on #412
You can inject a custom script in to both agent and docker-machines to set a proy.

[2021-12-01 23:28] npalm commented on #411
Are you using one of the examples?

[2021-12-01 23:29] npalm commented on #408
Can we close the question?

[2021-12-01 23:32] npalm commented on #346
@cmbailey87 any update?

[2021-12-02 00:09] kostyanius commented on #411
i tried to do it from scratch and also checked examples. both cases do not work fro me. so looks like there is an issue with subnets.

[2021-12-02 08:07] npeyrussie commented on #408
Hello @npalm , I think you can close it.

Regards.

[2021-12-02 23:49] ntman4real commented on #403
@kayman-mk

FWIW, this is what we use.

We use the below for the following reasons:
1. We refresh the runners nightly
2. We run nightly image ami build/creates as a standard in our "image factory"
3. We are specifying the ami for the runner-agent

[code]

I would have been nice to just grab the launch template version out of the module, but there isn't an output for that at the moment it seems.

[2021-12-03 09:55] AlbertasG opened #413 "Add support to disable default tags"
I've hit situation where default module tags `Environment` and `Name` interfere with providers `default_tag` directive. This in result conflict with each Terraform run.

Introducing something like `default_tags = true` would enable/disable defaults on `local.tags`

Is this a logical feature to add as I'd like to make PR myself.
Maybe there are any workarounds possible?

[code]

[2021-12-03 21:28] #408 closed

[2021-12-07 10:14] #365 closed

[2021-12-07 10:48] jschelfh-be opened #414 "Specify multiple instance_types for docker_machine_instance_type"
Can _docker_machine_instance_type_ be made a list so that you can specify multiple instance types, thus increasing the change of getting a spot instance. Currently configured using 1AZ, it happened several times that I was not able to get an EC2 of type t3.medium, but other spot instance types were available

[2021-12-09 13:24] kayman-mk commented on #411
Do you have step by step instructions to reproduce the problem? Like: `git clone something && run something`? Hard to say what's going wrong without seeing your console.

[2021-12-09 14:37] cmbailey87 commented on #346
@npalm
I used the latest version last week in a test, and received no errors regarding docker 137 resource errors
and didn't have to change the volume type to GP2
I left everything as default (GP3 provisioned) and it worked.

not sure what changed form version 4.26 ( where I got errors) to the latest 4.35, but it works now.
Thank you for your efforts and hard work on this projects.

I'll close thi

[2021-12-09 14:37] #346 closed

[2021-12-09 22:11] #270 closed

[2021-12-09 22:32] npalm commented on #411
@kostyanius still having the issues. Our deployment relies also on predefined subnets and we having no issues.

[2021-12-09 22:47] kostyanius commented on #411
Hello folks.
Thanks for your updates. I will record the video tomorrow for you all to show the issue i am facing with during this setup. Sorry for delay in my response. Was busy.

[2021-12-09 23:11] npalm commented on #414
Would be a great feature, but not supported well by the underlying frameworks. A lot of work was done in this PR to make it possible #249

[2021-12-10 22:50] kayman-mk commented on #414
Yeah, that's another thing which could work. Spawn agents with runners of different EC2 types. Not exactly what ylu want, but 80%.

I suggest to use at least 2 AZs. Just in case.

[2021-12-13 15:16] kostyanius commented on #411
![image](https://user-images.githubusercontent.com/9063908/145838110-e9bcab72-230d-41ae-a12e-710fd022da56.png)

[2021-12-16 08:56] ivankovnatsky opened #416 "Add support for shell executor"
Would be great to be able to configure shell executor: https://docs.gitlab.com/runner/executors/shell.html

[2021-12-16 22:27] npalm commented on #413
Thanks for creating, will have a look at the issue in the next day.

[2021-12-21 10:16] sohail-mp opened #418 "Upgrading to 4.36.0 from 4.35.0 gives "runner_registration_token" error on deployment"
Hi

Yesterday we upgraded to 4.36.0 from 4.35.0.
When deploying the change we received this error:
`Error: Missing map element: This map does not have an element with the key "runner_registration_token".`

My assumption is the error refers to this line number: https://github.com/npalm/terraform-aws-gitlab-runner/blob/e36c97184bc008fdd5ea1a9510cfa520df5b276f/main.tf#L37

We cant figure out how to s

[2021-12-22 10:59] kostyanius commented on #411
Hey
Any updates on this?
Thanks.

[2021-12-28 15:27] kayman-mk commented on #418
I guess the problem is line 87
`gitlab_runner_registration_token             = var.gitlab_runner_registration_config["registration_token"]`

You have to put the registration_token into the map. Could you please check this?

[2021-12-28 15:34] kayman-mk commented on #416
@ivankovnatsky Could you provide more details please? At the moment I do not see any advantage of supporting another runner type. But there might be use cases I do not know. What is the advantage of a shell runner?

[2021-12-28 15:40] kayman-mk commented on #412
@robpearce-flux npalm refers to

[code]

which is a parameter of the module and sets the docker proxy.

The variables `runners_pre_build_script` and `userdata_pre_install` could also be a good choice to set proxies of any type.

[2021-12-28 15:45] kayman-mk commented on #411
@kostyanius Variable names can be improved, yes.

[code]

So the `subnet_id_runners` is a single subnet, no list. `subnet_ids_gitlab_runner` is a list of subnets.

[2021-12-28 15:58] kayman-mk commented on #368
@narenaryan Any news here?

[2021-12-28 16:08] kostyanius commented on #411
Thanks but it is excess configuration anyway and in my case does not work for one subnet or for many of them. Why do we need such duplicate subnet or subnets? Only one of them is enough i believe.
I have tried all the examples and only managed to run it for the new vpc and subnet. But it does not work for the existing vpc and subnets.

[2021-12-28 16:21] kayman-mk commented on #411
Good point. And looking at my configuration I am using the same subnet for both, thus making sure that the runner agent (manager) is placed in the same subnet as the the runners (workers). Anything else doesn't make sense from my point of view.

You definitely have to provide both. As far as I can see, `subnet_ids_gitlab_runner` refers to the agent and `subnet_id_runners` to the workers.

It does

[2021-12-28 16:29] kayman-mk opened #419 "Harmonize the subnet_id* variables"
#411 raised the question of renaming the `subnet_ids_gitlab_runner` and `subnet_id_runners`. Very hard to understand what is configured here.

Proposal:
Introduce a new variable `subnet_id`. Use this subnet for the runner and the executors. I do not see any advantage of having the runner placed in another subnet as the executors. Both should be in the same subnet and the module should be deployed

[2021-12-28 16:30] kayman-mk commented on #419
@npalm Better solution than #405, right?

[2021-12-29 08:48] ivankovnatsky commented on #416
I usually don't build container images using docker-in-docker, so I thought it would be great to have a shell runner with docker.

But yeah, if community does not feel it's necessary, that might not make sense to do it.

[2021-12-29 11:56] sohail-mp commented on #418
@kayman-mk Yes we have a value set here, just like your example

[2021-12-30 18:18] lee-chrisbell opened #421 "EBS Encryption has the wrong name - 'kms_key_id' should be kms_key_id"
There is a difference in the documentation and the actual code for using the kms_key_id to encrypt the EBS volume -

[code]

[2021-12-30 22:21] npalm commented on #413
A PR would be welcome. At the time the module was created, it was also not possible to provide default tags via the provider. Adding an option to disable tagging is welcome! Be-aware there are some tailored tags avaialbe since some orgs requires specific tags on security groups.

[2022-01-03 11:23] kostyanius commented on #411
Hello @kayman-mk
No, aws region, vpn and subnets are correct.
Subnets corresponds with vpc and vice versa.
I even tried to type vpn and subnets name but got the same issue as for typing vpc and subnets id.
I even tried to run it with sudo, but it didn`t help.
So, still do not know where is an issue may be. (
![image](https://user-images.githubusercontent.com/9063908/147925129-75895d1d-7445-415a-af

[2022-01-03 11:32] kostyanius commented on #411
i tried to change list(string) to string type for subnet_ids_gitlab_runners and managed to pass for another step, but then also failed with the next error:
![image](https://user-images.githubusercontent.com/9063908/147925714-4aead1d8-1570-4c01-8c5b-ff10edbe0f85.png)
Thereby i belive the problem is in subnet_ids_gitlab_runners section. Please addvise how to enter in correctly, what formatting?
"sub

[2022-01-05 10:21] sohail-mp commented on #418
Steps to resolve:
1. remove this resource `module.runner["default"].null_resource.remove_runner` from your remote terraform state
2. plan
3. apply
4. plan again
5. apply again

[2022-01-05 11:50] #418 closed

[2022-01-05 11:57] kayman-mk commented on #416
Could be a nice extension, @ivankovnatsky Any chance to get a PR from you on how to change the current template to support other executors?

[2022-01-05 12:01] kayman-mk opened #423 "Fix formatting and docs during pre-commit?"
I always struggle with
- formatting the code prior to commit
- updating the Terraform docs before commit

I saw that pre-commit is used to verify that everything is ok. What about changing the files during the pre-commit automatically thus making life easier for developers?

[2022-01-05 12:16] kayman-mk commented on #411
I think it would be a good idea to place the variables in a file so it becomes easier to test with different setups and running `terraform plan -var-file my-vars.tfvars`

[code]

`subnet_ids_gitlab_runner` is a list of strings and not a string.

[2022-01-05 12:21] kayman-mk commented on #421
@lee-chrisbell Could you please close this issue? Seems that you fixed it with #422, right?

[2022-01-05 12:36] kayman-mk commented on #416
I quickly checked the linked documentation. In the current setup we have one Gitlab Runner + many executors (docker machines). The shell executor is running on the runner directly. So there are no executors and thus this might create problems with higher workloads (no scaling). This can be fixed by deploying the module several times of course.

[2022-01-05 18:38] ivankovnatsky commented on #416
sure, though can quite promise the timing.

[2022-01-06 21:49] #421 closed

[2022-01-06 21:51] lee-chrisbell commented on #421
Looks like @npalm just did.  Sorry about that!

[2022-01-07 22:14] kayman-mk commented on #213
@npalm Can be closed, right? Old variable was removed and the new one is in place.

[2022-01-07 22:21] kayman-mk commented on #176
@npalm SSH support has been dropped with #389. Issue seems to be obsolete now and can be closed. Can't it?

[2022-01-07 22:23] npalm commented on #176
@kayman-mk thx for the reminder

[2022-01-07 22:23] #176 closed

[2022-01-07 22:24] #213 closed

[2022-01-08 09:00] kayman-mk commented on #237
Stupid me, the logs are gone. Closing the issue as it is not clear what was wrong. Had no problems in the last year with the pipeline.

[2022-01-08 09:04] kayman-mk commented on #275
Could be nice to have an explicit docker version in the config or use the version proposed by the package manager.

[2022-01-08 14:43] kayman-mk opened #426 "Upgrading the module causes problem with null_resource (Missing map element)"
After updating to 4.37 and applying the plan, an error ocurred. Details below.

As far as I can see, it has nothing to do with the 4.37 upgrade as there were no changes to the null_resource. I think it is due to the fact that I didn't upgrade to 4.36 (and maybe the upgrade to 4.35 was also missing) and the problem was introduced in an earlier version.

However I do not fully understand what's goin

[2022-01-08 15:35] kayman-mk commented on #423
Format Terraform code: https://faun.pub/format-your-terraform-code-with-github-actions-2ce3ccdd6fb6

[2022-01-08 15:37] kayman-mk commented on #367
@welderpb Is this still an issue?

[2022-01-09 19:32] #394 closed

[2022-01-09 19:35] kayman-mk commented on #423
Seems that it was already in place. Guess I didn't use pre-commit on my developer machine due to missing Python, argh. But I added support to format all files recursively.

[2022-01-10 09:47] welderpb commented on #367
@kayman-mk it is not issue, it is feature request.. It would be great, if i can specify BucketLocation for s3 bucket..

[2022-01-10 19:00] kayman-mk commented on #367
Ah, I see. What is the business reason behind? I usually create the cache in the same region the Runner/Executors are created in. Anything I can add to the PR?

[2022-01-10 19:51] kayman-mk commented on #409
@hntrmrrs I think this issue is done as explained in #410. Could you please close it?

[2022-01-10 20:02] #409 closed

[2022-01-13 22:50] #419 closed

[2022-01-15 22:26] kayman-mk commented on #92
Ok, let's give it another try. Stick with EIP for the base feature and add ALB support later.

[2022-01-18 22:44] #230 closed

[2022-01-20 14:53] cmbailey87 opened #435 "EC2 created from launch configuration keeps terminating."
Current using  version = "4.25.0"
and I have my ec2 that is created from the launch group to be a spot instance request.
https://github.com/npalm/terraform-aws-gitlab-runner/issues/344

Something that has started recently is the EC2 created from the launch group( the EC2 that deploys the docker machines ) will occasionally, once a week, terminate.
I have to terminate all the spot requests ( becaus

[2022-01-20 16:43] cmbailey87 commented on #435
![image](https://user-images.githubusercontent.com/26728086/150378969-27fd809a-14f5-47ea-8df8-14ceef690817.png)
![image](https://user-images.githubusercontent.com/26728086/150382829-4f2bdf4e-d639-483e-a9e8-42cf9356b55c.png)

think i found my issue...i am running into a capacity issues for this account... but only this account.

[2022-01-21 17:01] pierlucg-xs opened #436 "Error: Cross-package move statement"
I get the following error when upgrading from 4.35.0 to any version above that:

[code]

I don't quite understand why this is happening, I don't see any move statement in the mentionned file: https://github.com/npalm/terraform-aws-gitlab-runner/blob/73d7cbb5a41841e80af8fcca5c990dfb82b275a5/security_groups.tf#L124

Any ideas?

[2022-01-21 17:05] pierlucg-xs commented on #436
If anyone runs into this:

This is an issue that is fixed in Terraform 1.1.4 https://github.com/hashicorp/terraform/issues/30326

[2022-01-21 17:05] #436 closed

[2022-01-26 17:54] Hijus22 commented on #426
It is the intended behavior of Terraform. A migration guide should be added as this breaks any automatic upgrade from any version < [ 4.36 ](https://github.com/npalm/terraform-aws-gitlab-runner/releases/tag/4.36.0)which included the [compatibility breaking commit](https://github.com/npalm/terraform-aws-gitlab-runner/commit/97676039b2aaa3800749e2e9011b32444b2afdd8#diff-dc46acf24afd63ef8c556b77c126c

[2022-01-26 20:59] kayman-mk commented on #426
Question to @npalm: Do we really need the `null_resource`? If I understand it correctly it removes the Runner as soon as the module is destroyed. We could also document this in a special section of the documentation (what to do if the Runner is removed) and remove the `null_resource`. Any change to the resource as described above, will always remove the Runner which is not intended.

If I destroy

[2022-01-27 07:39] Hijus22 commented on #426
Well, it depends. If you did the registration manually, which is now is as stated [here](https://github.com/npalm/terraform-aws-gitlab-runner/tree/4.37.0#gitlab-runner-token-configuration), then its okay. But otherwise it is wrong because the apply and destroy should be atomic.

[2022-01-27 23:13] npalm commented on #435
Would suggest to check your AWS limits indeed, please can you update / close the issue when resolved. Thanks for taking the time for sharing!

[2022-01-27 23:14] npalm commented on #426
On my list, try to dig in next days

[2022-02-06 22:30] npalm commented on #435
still having this issue?

[2022-02-09 16:08] vgropp commented on #426
@npalm any news on this? We ran into this problem as well. While trying to understand the problem, we did wonder whether https://github.com/npalm/terraform-aws-gitlab-runner/blob/6960f3bb794ca8279932f43cc98723c45a84ba14/main.tf#L32 should maybe depend on data.aws_ssm_parameter instead.

But to fix it for now, does manually modifying the terraform state maybe mitigate the problem? How did you resol

[2022-02-09 16:34] Hijus22 commented on #426
@vgropp you need to remove the null resource completely. It doesn't affect anything really, when you do the `terraform apply`, the null resource will be created with the new config:
1. `terraform state list` will show you everything in the state, you need to look for the "remove_runner" null resource.
2. `terraform state rm module.<runners-module-name>.null_resource.remove_runner`.

[2022-02-09 21:39] o-be-one opened #439 "This rewritten variable blocks all naming convention in AWS Parameter Store (same for Sentry)"
Hello,

https://github.com/npalm/terraform-aws-gitlab-runner/blob/e36c97184bc008fdd5ea1a9510cfa520df5b276f/locals.tf#L14

This overwrite what we define as `secure_parameter_store_runner_token_key` which prevent us to use any naming we would like. On our side for example we use stuffs like `/<team>/<service>/<key-name>` but we got `<env>-/<team>/<service>/<key-name>` instead.

Thanks.

[2022-02-09 22:43] npalm commented on #439
@kayman-mk do you recognize this issue?

[2022-02-10 18:55] kayman-mk commented on #439
Have seen this before also with other modules. If you have a company wide naming strategy for your resources it would be nice when all modules follows it. I simply live with the fact that some resources have other names.

This local prepends the `environment` to the key name which is imported via `secure_parameter_store_runner_token_key`. Options which came into my mind are
- remove the `var.envir

[2022-02-10 18:59] kayman-mk commented on #426
I thought about that. Getting rid of the whole resources as it might accidentially remove the runner when applying a new version of the module. The downside is that the runner is not removed if the module is destroyed. But to be honest: I will never remove this module. I am totally satisfied how everything is working.

@npalm Shall we get rid of the whole `null_resource`? The better option would b

[2022-02-10 20:25] o-be-one commented on #439
Has you already have some other "prefix" variables, i guess it would be an acceptable solution.
Thanks a lot for considering my issue :).

[2022-02-10 22:08] npalm commented on #439
When I have written the module years ago. I introduced the environment for two purposes
- Create unique resources to deploy the module multiple times in an account. And also make it easy for a human to recognize to which deployment a resource belang.
- Tag all resources to find them easily back.

For tagging this is overkill today, since the AWS provider provides now an option to tag all resources

[2022-02-10 22:34] npalm commented on #426
Agree we should see to remove the null resources. The only time I create / destroy is for testing. That logic can be complete moved to the examples.

[2022-02-12 17:37] davidnortonjr opened #442 "Race condition around elastic IP"
We have `enable_eip = true`, and it seems to cause a race condition when rolling out a deployment on the GitLab Runner ASG. If the new instance tries to assign the IP before the old instance has shut down / released it, then it fails to come up cleanly and does not pick up jobs.

I'm not sure the best way to solve this, but perhaps either (or both):
1. a retry / backoff for assigning the EIP in [e

[2022-02-14 15:24] o-be-one commented on #439
If you are asking to me, npalm, this will definitively work for my usecase. Thanks a lot for thinking about it!

[2022-02-24 15:54] jimmy-outschool opened #447 "ERROR: Preparation failed: exit status 2"
The following error occurs rather regularly during large scale up events. When something like 30-80 new jobs appear beyond the current scale of runners many of the jobs will fail with this error. Retrying the jobs succeeds, but it seems like something is not waiting long enough for the new machines to start up.

I am unclear on whether this is the primary runner's fault, docker machine, or EC2. I

[2022-02-24 22:58] npalm commented on #439
@o-be-one would you have time for a PR ?

[2022-02-25 12:06] imhardikj opened #450 "Duplicate runners are being created"
current version ="4.39.0"

Whatever number I put in `runners_idle_count`, number of runners created are double of that. Take a look at this screenshot, `runners_idle_count` is `5` here but total `10` runners are being created:

<img width="1481" alt="Screenshot 2022-02-25 at 5 22 17 PM" src="https://user-images.githubusercontent.com/33034902/155711309-9a240a9e-86b5-4902-9ce4-a5e0c4e39716.png">

An

[2022-02-25 15:10] jrr commented on #357
For anyone running across this, we've managed to get docker builds working on the EC2 agent, by adjusting the CI config to look like this:

[code]

But the issue's question remains: what would it take to not require the `--tls=false` and `DOCKER_TLS_CERTDIR` workarounds?

[2022-02-25 22:20] kayman-mk commented on #450
I have seen these machines without a name in earlier versions of the module too. But had no time to dig into it.

[2022-02-27 13:46] npalm commented on #450
I did not have the issue. But most likely it is related to the GitLab runner agent or docker machine. In the latest release I have updated the default version for machine also to the latest patch level.

When you enable SSM you can access the agent ec2 instance and run a `docker-machine ls`.  I have only seen the problem years ago when we runnon on dedicated (on-prem) vm's and running out of IP ad

[2022-02-27 13:48] npalm commented on #442
Sorry cannot help, hope someone in the community can. We are not using EIP.

[2022-02-27 15:03] #426 closed

[2022-02-28 10:09] imhardikj commented on #450
I have updated my code from `4.39.0` to `4.41.0`. But now the problem is no runners are being created and neither is runner visible in `avaible runners` in the project settings (project whose token I am using).

<img width="1487" alt="Screenshot 2022-02-28 at 3 21 27 PM" src="https://user-images.githubusercontent.com/33034902/155963642-c6d6e250-1801-4aad-8940-d462161e1492.png">

See in the image.

[2022-03-02 03:50] joshbeard commented on #214
This ☝️ feature (#392) was merged and included in the 4.40.0 release: https://github.com/npalm/terraform-aws-gitlab-runner/releases/tag/4.40.0

[2022-03-02 09:30] william00179 opened #456 "Runner release 14.8.0 has been removed by GitLab due to regression"
Hi!

GitLab has removed the 14.8.0 release due to a regression.

https://gitlab.com/gitlab-org/gitlab-runner/-/releases/v14.8.0

This seems to be the default version that the module will try to install. I suggest this could be bumped to 14.8.1 that includes the fix for the regression, or 14.8.2 which is the latest.

[2022-03-02 12:33] JulianCBC opened #457 "Docker-machine download URL appears to be inaccessible"
It appears that GitLab has made the "generic" `https://gitlab-docker-machine-downloads.s3.amazonaws.com/VERSION/docker-machine` URL inaccessible, so only the "fully qualified" URLs with a system type and architecture work.

[code]

[code]

I think the simplest solution here would be to just switch the default over to specifying a version instead of a full URL as that appears to do the right thing,

[2022-03-03 17:14] jimmy-outschool commented on #447
Tracked this down to primary instance `t3.micro` exhausting memory when scaling up rapidly. Upgrading to a `t3.small` resolved. This might be worth documenting along the lines of depending on your job load a larger primary instance may be needed. If you see, `Preparation failed` ...

[2022-03-06 20:37] ryancausey commented on #457
Can confirm this issue prevents the runner from starting properly, so I've had to lock to version 4.40.0 for now, as well as manually setting `gitlab_runner_version` to something other than the default of "14.8.0" due to #456.

[2022-03-07 19:15] #456 closed

[2022-03-07 19:15] #457 closed

[2022-03-07 20:28] npalm opened #461 "Supporting Terraform Provider 4"
Thanks to @meMuszr in #444 the initial work is done to provide support for AWS Terraform provider 4. I have merged the PR in #460 to test and fix some minors. All the work is still under test. But would like to gather feedback from the community.

- Feel free to comment on PR #460 and provide suggestions
- Look for people that can run a test on the PR?
- Look for feedback should we already bump th

[2022-03-08 14:42] devmohammedothman commented on #461
still not working after upgrade to version 4.4.0, here is the error

[code]

[2022-03-10 09:21] photosojourn commented on #461
Hey @npalm hope your well. Do you have an eta for this PR being merged? No major rush, but it would allow us to avoid a work around. Thanks for the great work!

[2022-03-10 10:06] npalm commented on #461
Since upgrade have major impact, I have crated this issue. To give the community a bit of time to give feedback. If it helps I can tag this branch so you can already start using it.

[2022-03-17 07:21] kayman-mk commented on #461
I constantly get a warning in Security Hub that I should use IMDSv2 for EC2 instances. May be it is worth to integrate this as well? Especially as all my executers failed after switching to AWS 4.x provider (see #445)

Security Hub issue: EC2.8 EC2 instances should use Instance Metadata Service Version 2 (IMDSv2)

[IMDSv2 for EC2 in Terraform](https://registry.terraform.io/providers/hashicorp/aws/

[2022-03-23 00:13] ermiaqasemi commented on #450
@imhardikj I had the same issue, For me, it works after upgrading to version 4.41.1, and deleting `tribe-gitlab-runners-runner-token` from the AWS system manager.

[2022-04-01 19:05] hiago-miguel opened #464 "An argument named "architectures" is not expected here"
Hey,

With aws provider version `3.59.0`, and version 4.41.1 of this module, I got the following error:

[code]

The argument `architectures` in the aws_lambda_function resource was released in version 3.61.0:
- https://github.com/hashicorp/terraform-provider-aws/releases/tag/v3.61.0

Since the submodule `terminate-instances` uses this argument,

[code]
The module should require aws provider ~> 3.

[2022-04-09 16:47] npalm commented on #464
Thanks, will check it

[2022-04-09 19:22] npalm commented on #464
Justed tested the module with the 4.0 provder (#460) with the default example. Not able to reproduce the rror you mention.

[2022-04-11 11:24] LaurenceChau opened #467 "Add network_mode to docker.runner config"
Some CI job require alter kernel parameters or access ec2 link local address. It could be helpful if we can use the host network.

[runner-config](https://docs.gitlab.com/runner/configuration/advanced-configuration.html)

[2022-04-11 19:31] hiago-miguel commented on #464
Yes, the issue only happens when using aws provider < 3.61.
And I have opened this issue because the module's minimum requirement for the aws provider is 3.35.
- https://github.com/npalm/terraform-aws-gitlab-runner/tree/4.41.1#requirements

[2022-04-15 10:10] gerbenoostra opened #470 "DockerMachine Runner stuck (`sudo: docker: command not found`)"
I'm on `4.41.1` but my runner gets stuck:
[code]

I have the following variable definitions:
[code]

With following setup:
[code]

The logs (at loggroup `instance_id/messages`), shows (prefixed with `gitlab-runner: `:
[code]

And then shows (repeatedly):
[code]

The `/user-data` logs shows (amongst others):
[code]
Note the `Docker installation not found`.

Any ideas?

[2022-04-21 06:23] gerbenoostra commented on #470
I'm using `docker:20.10.12` as gitlab build image, which is mentioned in the following issues as being problematic:
* https://github.com/JonasProgrammer/docker-machine-driver-hetzner/issues/54#issuecomment-1017902727
* https://gitlab.com/gitlab-org/ci-cd/docker-machine/-/issues/41
* https://github.com/docker/machine/issues/4858
However, downgrading to a `docker:19.03.15` or `docker:18.06.3-ce` did

[2022-04-21 06:26] gerbenoostra commented on #470
Following another proposal of
* https://github.com/JonasProgrammer/docker-machine-driver-hetzner/issues/54#issuecomment-1017902727
* https://gitlab.com/gitlab-org/ci-cd/docker-machine/-/issues/41
* https://github.com/docker/machine/issues/4858
I attempted to run `systemctl restart docker` by adding the following to the `terraform-aws-gitlab-runner` module configuration:
[code]
Though this succeeds

[2022-04-21 06:31] gerbenoostra commented on #470
In another attempt, I reverted my changes regarding images & instance types to use version `4.41.1` as specified in the `runner-default` example. Thus kept everything at the default.

However, that gave the same issue:
In gitlab one sees a stuck `Preparing the "docker+machine" executor`,
in the cloudwatch logs I see the `Error getting SSH command to check if the daemon is up` with ` sudo: docker: